/* author Dude */
@font-face {
    font-family: 'Opel Sans';
    src: url('./assets/fonts/OpelSans-Bold.eot');
    src: url('./assets/fonts/OpelSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/OpelSans-Bold.woff') format('woff'),
        url('./assets/fonts/OpelSans-Bold.ttf') format('truetype'),
        url('./assets/fonts/OpelSans-Bold.svg#OpelSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Opel Sans';
    src: url('./assets/fonts/OpelSans-Regular.eot');
    src: url('./assets/fonts/OpelSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/OpelSans-Regular.woff') format('woff'),
        url('./assets/fonts/OpelSans-Regular.ttf') format('truetype'),
        url('./assets/fonts/OpelSans-Regular.svg#OpelSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('./assets/fonts/ArialMT.eot');
    src: url('./assets/fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/ArialMT.woff') format('woff'),
        url('./assets/fonts/ArialMT.ttf') format('truetype'),
        url('./assets/fonts/ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Opel Sans';
    font-weight: normal;
    padding-top: 85px;
}
.hidden {
    display: none!important;
}

/* common padding  */
.py-6, .pb-6{
    padding-bottom: 4rem!important;
}
.py-6, .pt-6{
    padding-top: 4rem!important;
}
.py-7, .pb-7{
    padding-bottom: 5rem!important;
}
.py-7, .pt-7{
    padding-top: 5rem!important;
}
.py-8, .pb-8{
    padding-bottom: 6rem!important;
}
.py-8, .pt-8{
    padding-top: 6rem!important;
}

/* typography */
p {
    margin-bottom: 0;
}
.navbar-light {
    background: #fff;
}
.banner-h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 2rem;
}
.lead {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 40px;
    line-height: 1.3;
    text-align: center;
}
.sub-heading{
    font-size: 1.5em;
}
.fs-20 {
    font-size:1.25em;
}

.lead.mb-100,
.mb-100 {
    margin-bottom: 100px !important;
}
#navBarBasic.navbar-nav li.nav-item:last-child a {
    color: #6d71cd;
}


/* theme related */
.lead,
.text-indigo,
.circille_inner_one p,
.testimonial_block .card-body p {
    color: var(--indigo)
}

.seamless-circle,
.btm_footer {
    background-color: var(--indigo)
}
.bg-dark-gray{
    background-color: #d2d3d5;
}
.bg-light-gray{
    background-color: #F7F7F7;
}
#lgMenus li:nth-child(2) {
    margin-left: 10px !important;
}

/* theme related */

/* over ride button styles */
.themeBtn .btn {
    border-width: 3px;
    font-size: 1.5em;
    text-transform: capitalize;
    border-radius: 50px;
    transition: 0.3s;
    padding: 0.625rem 6rem;
}

/* end */

/* header styles */
.navbar-brand img{
    width: 150px;
}

.hs-mega-menu.u-header__sub-menu {
    border-top: 0.1875rem solid var(--purple);
    border-bottom-right-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
    box-shadow: 0 8px 20px rgba(55, 125, 255, 0.075);
}
.navbar-nav .nav-item.hs-has-mega-menu .nav-link{
    position: relative;
    padding-right: 15px;
}
.navbar-nav .nav-item.hs-has-mega-menu .nav-link:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #6d71cd;
}

.u-header__mega-menu-col ul li a:after {
		display: none !important;
}


/* navigation related */

.navbar {
    padding: 1.5rem  0;
}

.navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
#illustration-section::after {
    background-color: #f7f7fd !important;
}
@media (min-width:1024px) {
    #lgMenus li {
        margin-left: 100px;
    }
}

.u-header__sub-menu-title {
    font-size: 1.25em;
    font-weight: bold;
    padding-right: .5rem;
    padding-left: .5rem;
    margin-bottom: 15px;
    display: block;
}

.u-header__mega-menu-list {
    padding: 40px;
}

.u-header__mega-menu-col ul.list-unstyled {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.u-header__mega-menu-col ul.list-unstyled li.nav-item {
    flex: 0 0 25%;
}

.u-header__mega-menu-col {
    padding: 0;
}

/* hamburger menu */
.humberger {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

button.navbar-toggler:focus {
    outline: none;
}
/*--------------drop-down css--------------*/

.nav-item .round-btn {
    padding: 0px;
}
.nav-item .dp-btn img {
    width: 24px;
}
.nav-item .dp-btn {
    border: 1px solid #6d71cd;
    border-radius: 50%;
    padding: 5px;
}

.nav-item .dp-btn .dropdown-toggle:after{
    display: none;
}
.dp-btn .dropdown-menu, .footer-dpn .dropup .dropdown-menuu{
        margin: 5px 0px 0px -211px;
            box-shadow: 1px 1px 8px #ccc;
    border-radius: 8px;
}
.nav-item .dp-btn:focus, .footer-dpn .dropup:focus, .footer-dpn .dropup button, #dropdownMenuLink:focus{
    outline: none;
        box-shadow: none;
}
/*------------footer-drop-up----------*/
 .footer-dpn{
        margin-top: 5px;
      }
      .footer-dpn .btn-down{
        background-color: #e2e2f7;
        padding: 6px 15px;
        border-radius: 30px;
		font-size:14px;
      }
     
    .footer-dpn .dropup .dropdown-menu {
                transform: translate3d(5px, 100px, 0) !important;
        top: auto !important;
    }
    .dropup button img {
        width: 20px;
        margin-right: 8px;
    }
/*------------manage-3.12-----------*/
.pricing-bills .bills-box img {
	    height: 6.2rem;
	width: auto;
}
.modal.fade.custom-modal.show {
  opacity: 1;
}
.center-block {
  padding: 100px;
}
.center-block img {
  max-width: 200px;
  margin: 0 auto;
}
.custom-modal .close img {
  width: 20px;
}


@media(max-width: 1199px){
	.bills_pay a.w-50 {
    	width: initial !important;
	}
	.goodbye-box .goodbye-box-box{
		    min-height: 6rem;
	}
	.invoice-features .row.__featuresContentRow.conect_bank_row{
    	padding: 40px 25px;
	}
}

@media (max-width: 991px) {
    header.desktop-header.style_1.site-header {
        box-shadow: 3px 4px 10px #6d71cd42;
    }
	#lgMenus .nav-item .dp-btn {
    	display: inline-block;
	}
	#lgMenus li.nav-item {
    	margin-left: 0px !important;
    	padding-left: 15px;
    	margin-bottom: 15px;
	}
	.goodbye-box .goodbye-box-box {
    	min-height: 8.5rem;
	}
	.dp-btn .dropdown-menu{
		    margin: 5px 0px 0px -2px;
	}
	.navbar-nav .dropdown-menu {
    	position: absolute;
	}
	
}
@media (max-width: 767px){
	.testimonial_block img{
		    width: 100%;
    	margin: 0 auto;
	}
	.instant-support h1.instant-heading {
    	padding-right: 1.4rem;
	}
	.instant-support .intant-btn{
		    padding: 0 1.2rem;
	}
	section.instant-support {
    	padding: 3rem 15px 2.5rem;
	}
	#gst-image-section .d-flex{
		   flex-direction: column!important;
	}
	#gst-image-section hr{
		display: none;
	}
	body #gst-image-section img{
		    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 0;
	}
	.goodbye-box .goodbye-box-box {
    	min-height: auto;
	}
	.reporting-sec .middle-width {
    	padding-top: 40px;
	}
}
@media (max-width: 575px) {
    .navbar-brand {
        width: 90px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 27px;
        height: 2px;
        background-color: #333;
        margin: 5px 0;
        transition: 0.4s;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-4px, -8px);
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-3px, 6px);
    }
    .u-header__mega-menu-col ul.list-unstyled li.nav-item {
        flex: 0 0 100%;
    }
    .u-header__mega-menu-list {
        padding: 20px;
    }
    .u-header__sub-menu-title {
        margin-bottom: 0;
    }
    
    .banner_section h1 br ,.banner_section p br{
        display: none;
    }
	body .main-banner{
		height: inherit;
    	min-height: inherit;
		    padding-top: 40px;
	}
	.page-id-986 .main-banner, .page-id-11 .main-banner{
    	height: -webkit-fill-available;
    	min-height: -webkit-fill-available;
	}
	.reporting-sec .middle-width {
    	padding-top: 0px;
	}
	.financial-list ul.reportint-list {
    	padding-right: 15px;
	}
}
@media (max-width: 399px){
	body  .bills_pay a{
		    padding: 0.625rem 1rem;
	}
	.footer-dpn .dropup .dropdown-menu {
    	left: 43px !important;
	}
}

/* end headers */




/* contact section */
#contact_section {
    background-color: #e7e8ea;
    padding: 73px 0;
}

#contact_section h4 {
    color: #6d71cd;
}

.contact_form span {
    width: 100%;
    display: block;
}

.contact_form input,
.contact_form textarea {
        width: 100%;
    padding: 10px 22px;
    margin-bottom: 5px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-size: 16px;
}

.contact_form textarea {
    height: 100px;
}

.contact_form input:focus,
.contact_form textarea:focus,
.contact_form .submit:focus {
    outline: none;
}

/* end contact section */

/* footer section */
footer {
    background-color: #f7f7fd;
        border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 450px;
    border-bottom-left-radius: 0px;
}
.top_footer h4 {
    font-size: 40px;
    color: #1A237E;
    font-weight: bold;
}
body .contact-form-box .btn-outline-primary {
        max-width: 185px;
    border: 1px solid #1A237E;
    border-radius: 25px;
    margin-top: 15px;
    font: Bold 18px/22px Opel Sans;
    color: #1A237E;
    padding: 0px 22px;
    height: 50px;
    line-height: 49px;
}
body .contact-form-box .btn-outline-primary:hover, body .contact-form-box .btn-outline-primary:focus{
	background-color: #1A237E;
	color: #fff;
}

footer ul li,
ul,
li,
.preUl {
    list-style: none;
}

footer .menu-item a{
    line-height: 35px;
    color: #1C1C1C;
    font-size: 16px;
}
footer .menu-item a:hover{
    color: inherit;
}
footer p{
	color: #1C1C1C;
    font-size: 16px;
}
.contact_form .form-group .iti {
    width: 100%;
    margin-bottom: 5px;
}
.contact_form .form-group .iti .iti__selected-flag {
    background: #fff;
    width: 74px;
    padding-left: 23px;
    border-right: 1px solid #ddd;
}
.contact_form .form-group .iti input#phone {
    padding-left: 100px;
}
.preUl,
.btmfooter_social {
    margin: 0;
    padding: 0;
}

.top_footer {
    padding: 3.75rem 0;
    font-size: 13px;
}
.top_footer h2.widgettitle{
	display: none;
}
.top_footer h2 {
       font-size: 16px;
    text-transform: capitalize;
    color: #1C1C1C;
}

.inner_logos {
    display: flex;
    flex-wrap: wrap;
}

.inner_logos li {
    margin-bottom: 1.5rem;
    cursor: pointer;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 7px;
    background-color: #edeeff;
}
.inner_logos li+li{
    margin-left: 15px;
}

.inner_logos img {
    width: 48px;
    height: 48px;
}

.btm_footer {
    color: white;
    padding: 1rem 0;
}

.btm_footer .textwidget {
    font-size: 0.875em;
}

.btmfooter_social {
    display: flex;
}

.btmfooter_social li a {
    display: block;
    position: relative;
    height: 32px;
    width: 32px;
}

.btmfooter_social li.twitter {
    background-image: url(assets/images/twit_icon.svg);
}

.btmfooter_social li {
    display: flex;
    height: 32px;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 8px;
}

.inner_logos li:hover,
.btmfooter_social li:hover {
    opacity: .6;
}

.btmfooter_social li:nth-child(2) {
    background-image: url(assets/images/linked-icon.svg);
}

.btmfooter_social li:nth-child(3) {
    background-image: url(assets/images/insta_icon.svg);
}

.btmfooter_social li:nth-child(4) {
    background-image: url(assets/images/fb-icon.svg);
}

/* bottom footer widget items */
#custom_html-2 ul,
#nav_menu-3 ul,
#nav_menu-2 ul {
    padding-left: 0;
}

#custom_html-2 ul li, #custom_html-2 ul li a{
	font-size: 16px;
	color:#1A237E;
	line-height: 30px;
}
/* #custom_html-2 ul li:last-child a {
    color: var(--indigo);
} */

@media (max-width: 575px){
    .banner-h1, .lead{
        font-size: 2rem;
    }
    .themeBtn .btn {
        padding: 0.625rem;
        width: 100%;
    }
    .top_footer .col, .btm_footer .col{
        flex-basis: inherit;
        text-align: center;
        margin-bottom: 2rem;
    }
    .btm_footer .col{
        margin-bottom: 1rem;
    }
}
.dropdown-menu .current-language {
   display: block;
   width: 100%;
   padding: .25rem 1.5rem;
   clear: both;
   font-weight: 400;
   color: #212529;
   text-align: inherit;
   white-space: nowrap;
   background-color: transparent;
   border: 0;
}
.bills_pay a {
    margin: 0 auto;
}


/* mute web css */

.media-right, .media>.pull-right {
    padding-left: 10px;
}

.media-left, .media>.pull-left {
    padding-right: 10px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.common-space .media-right h3 {
    color: #666666;
    font-size: 19px;
    line-height: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}

.common-space .media-right h3 {
    color: #666666;
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;
    padding-bottom: 20px;
}

.common-space .media-right h2 {
    color: #cccccc;
    font-size: 42px;
    line-height: 46px;
    font-weight: 700;
    letter-spacing: 7px;
    margin-bottom: 20px;
}

.common-space .media-left h2 {
    color: #cccccc;
    font-size: 107px;
    line-height: 110px;
    padding-bottom: 120px;
}

.common-space .media-right h1 {
    color: #cccccc;
    font-size: 52px;
    line-height: 46px;
    font-weight: 700;
    letter-spacing: 7px;
    margin-bottom: 20px;
}

.stages {
    padding: 80px 0 40px;
}

.y-bg {
    padding: 80px 0 54px;
    background-color: #fdb202;
}

.common-space .profile-img {
    padding-top: 40px;
    padding-bottom: 40px;
}


.common-space .media-right p {
    color: #666666;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 22px;
}

.common-space ul li {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 16px;
    color: #666666;
    position: relative;
    padding-left: 15px;
}

.common-space ul {
    padding-left: 0;
    list-style: none;
}

.common-space {
    width: 58%;
    margin: 0 auto;
}

.common-space ul li::before {
    position: absolute;
    height: 8px;
    width: 7px;
    background-color: #666666;
    content: '';
    border-radius: 50%;
    top: 10px;
    left: 0;
}

.sticky-title {
    position: fixed;
    width: 200px;
    top: 120px;
    left: 60px;
    z-index: 11;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    height: 80vh;
    overflow-y: scroll;
}

.sticky-title ul li a {
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    font-weight: 700;
    padding: 12px 0;
    position: relative;
}

.sticky-title.b-color ul li a {
    width: 100%;
    color: #a7a7a7;
    display: inline-block; 
    font-weight: 400;
}

.sticky-title ul li a::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    border-bottom: 1px dotted #212769;
    left: 0px;
    bottom: 0;
}

.sticky-title ul li.active a {
    color: #212769 !important;
}

/* .nav li {
    width: 100%;
    display: block;
} */

.sticky-title::-webkit-scrollbar { width: 0 !important }

.sticky-title { overflow: -moz-scrollbars-none; }

.sticky-title { -ms-overflow-style: none; }

.hidden-lg {
    display: none;
}

@media (max-width: 991px) {
    .hidden-md {
        display: none;
    }

    .hidden-lg {
        display: block;
    }

    .sticky-title {
        top: 97px;
        padding-top: 15px;
        left: 0;
        padding-bottom: 15px;
        text-align: center;
        z-index: 11;
        height: 60px;
        width: 100%;
        background-color: #fff;
    }   

    .sticky-title .custom-select {
        display: inline-block;
        max-width: 200px;
    }

    .stages {
        padding-bottom: 0;
        padding-top: 135px;
    }

    .common-space {
        width: 95%;
    }    
}

@media (max-width: 575px) { 
    .sticky-title {
        top: 86px;
    }   

}

@media (max-width: 768px) { 
    .common-space .media-right h2 {
        font-size: 28px;
    }

    .common-space .media-right h1 {
        font-size: 32px;
    }

}


@media (max-width: 1199px) and (min-width: 992px){
    .sticky-title {
        left: 15px;
        top: 130px;
    }
}
/* mute web css end */