
<nav role="navigation" class="navbar navbar-custom navbar-fixed-top" ng-class="{'transparent':!magicLinkPage, 'fixedHeader' : fixedHeader}">
  <div class="container-fluid">
    <div class="row">
        <div class="navbar-header">
          <button ng-click="toggleNavbar()" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

          <a href="/" class="navbar-brand" ng-if="!showBlack">
            <img class="showWhite" src="/assets/images/new/giddh-logo-white.png" alt="Giddh - online accounting software" ng-if="!magicLinkPage">
            <img src="/assets/images/new/giddh-logo.png" alt="Giddh - online accounting software" ng-class="{'showWhite':magicLinkPage, 'showBlack':!magicLinkPage}">
          </a>
          <a href="/" class="navbar-brand" ng-if="showBlack">
            <img src="/assets/images/new/giddh-logo.png" alt="Giddh - online accounting software">
          </a>
        </div>
    
        <div ng-class="{collapse: isNavCollapsed}" class="navbar-collapse navbar-main-collapse col-sm-8">
          <div class="allmenu">
            <ul class="nav navbar-nav usernavi">
                <li class="hidden active">
                  <a href="#page-top"></a>
                </li>
                <li>
                  <a href="tel:07939593939" ng-class="{white:whiteLinks && !loginPage}">Home</a>
                </li>
                <li class="">
                    <a href="#contact" class="page-scroll" ng-class="{white:whiteLinks && !loginPage}">Features</a>
                </li>
                <li class="">
                  <a href="gst.php" class="page-scroll" ng-class="{white:whiteLinks && !loginPage}">GST</a>
                </li>
                <li class="">
                  <a href="tallyplusgiddh.php" ng-class="{white:whiteLinks && !loginPage}">Tally</a>
                </li>
                <li class="">
                  <a href="pricing.php" ng-class="{white:whiteLinks && !loginPage}">About</a>
                </li>
              
              </ul>
          <!-- <ul class="nav navbar-nav">
            <li class="hidden active">
              <a href="#page-top"></a>
            </li>
            <li>
              <a href="tel:07939593939" ng-class="{white:whiteLinks && !loginPage}">1800-2121-322</a>
            </li>
            <li class="">
                <a href="#contact" class="page-scroll" ng-class="{white:whiteLinks && !loginPage}">Contact Us</a>
            </li>
            <li class="">
              <a href="gst.php" class="page-scroll" ng-class="{white:whiteLinks && !loginPage}">GST</a>
            </li>
            <li class="">
              <a href="tallyplusgiddh.php" ng-class="{white:whiteLinks && !loginPage}">Tally</a>
            </li>
            <li class="">
              <a href="pricing.php" ng-class="{white:whiteLinks && !loginPage}">Pricing</a>
            </li>
            <li ng-hide="signupPage">
              <button onclick="location.href='app/signup'" class="btn btn-primary navbar-btn mrL2">Sign Up</button>
            </li>
            <li class="">
              <button onclick="location.href='app/'" class="btn btn-secondary navbar-btn" style="margin-left:20px">Login</button>
            </li>
          </ul> -->
          <ul class="nav navbar-nav navbar-right">
              <li ng-hide="signupPage">
                  <a href="" class="talktoexpert"><span class="glyphicon glyphicon-earphone"></span>Talk to Expert</a>
                </li>
                <li class="">
                    <button onclick="location.href='app/'" class="btn btn-primary navbar-btn m-t-20">Signup</button>
                  </li>
                <li class="">
                  <button onclick="location.href='app/'" class="btn btn-bordered navbar-btn m-t-20">Login</button>
                </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  
</nav>