.getStarted {
  background-color: transparent;
  border: 1px solid var(--col-primary);
  color: var(--col-primary);
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--col-primary);
    color: var(--col-white);
  }
}

.bgModal {
  background-color: var(--col-soft-blue);
}
