.tab {
  &:hover {
    background: var(--col-primary);
  }
}
.tabUnderline {
  height: 3px;
  background: var(--col-white);
}

.image{
    width: 100%;
    height: auto;
    max-width: clamp(320px, 50%, 520px);
    
}