.giddhScrollWrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; // smooth scroll on iOS
    width: 100%;
    padding-bottom: 4px; // so scrollbar doesn't overlap corners
  
    .giddhScrollInner {
      min-width: 920px; // adjust as needed for column widths
      display: inline-block;
    }
  }
  