.giddhScrollWrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
    width: 100%;
    padding-bottom: 4px;  
  
    .giddhScrollInner {
      min-width: 920px; 
      display: inline-block;
    }
  }
  