.logo_container {
  gap: 24px;
}

.logo {
  height: 30px;
  max-width: 125px;
  @media (max-width: 1025px) {
    height: 24px;
  }
}
.leaf {
  height: 120px;
  @media (max-width: 1025px) {
    display: none;
  }
}
