.affiliate {
  padding-top: 150px;
  &__img {
    width: 90px;
    height: 99px;
    object-fit: contain;
  }

  .btn-start {
    background: var(--col-primary) !important;
    border-radius: 2px;
    padding: 10px 16px;
  }

  &__resources {
    background-color: #eae7e7 !important;
  }
}

@media (max-width: 767px) {
  .affiliate {
    padding-top: 100px;
    &__top_section {
      text-align: center;
    }
    &__resources {
      h4 {
        &.c-fs-2 {
          font-size: var(--c-fs-3) !important;
        }
      }
      p {
        &.c-fs-4 {
          font-size: var(--c-fs-5) !important;
        }
      }
    }
  }
}
