.features {
  &__heading_container {
    position: relative;
    height: 70dvh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 60px;

    &__links {
      .download_free_btn {
        color: var(--col-white);
        background-color: var(--col-primary);
        border-radius: 0;
        border: 1px solid var(--col-primary);
        padding: 10px 16px;
      }
    }
    &__right_banner_img {
      position: absolute;
      width: 60%;
      left: -20%;
      top: 10%;
      z-index: -1;
    }
  }

  &__sub_heading_container {
    background-color: #f7f7f7;
    padding-bottom: 60px;

    &--pull-top {
      margin-top: -25px !important;
    }

    &--banner_img{
      width: auto;
      max-width: 300px;
    }
  }

  &__description_container {
    &--row-odd {
      .__image-alignment {
        text-align: end;
      }
    }
    &--row-even {
      flex-direction: row-reverse;
      .__image-alignment {
        text-align: start;
      }
    }
    .row {
      &.--read-more {
        .col-md-12 {
          &.col-lg-6 {
            &:first-child {
              width: 80% !important;
            }
            &:nth-child(2) {
              width: 20% !important;
            }
          }
        }
      }
    }
  }

  &__suggestion_container {
    padding: 64px 0 16px 0;

    &__links {
      a {
        padding: 2px 14px;
        &:hover {
          color: var(--col-primary) !important;
        }
      }
    }
  }
  &__accordion_container {
    padding: 3rem 0;
    .accordion {
      margin: 0 auto;
      .accordion-item {
        border: none !important;
      }
      .accordion-button {
        color: var(--col-deep) !important;
        background-color: unset !important;
        box-shadow: unset !important;

        &::after {
          display: none;
        }
        &:focus {
          box-shadow: none !important;
          border: none !important;
        }

        &.collapsed {
          .collapse-icon--open {
            display: inline-block;
          }
          .collapse-icon--close {
            display: none !important;
          }
        }
        &:not(.collapsed) {
          .collapse-icon--open {
            display: none !important;
          }
          .collapse-icon--close {
            display: inline-block !important;
          }
        }
        .collapse-icon {
          width: 30px;
          height: 30px;
          min-width: 30px;
          min-height: 30px;
          background-color: var(--col-blue);
          color: var(--col-white);
          font-size: var(--c-fs-3);
          text-align: center;
          line-height: 25px;
        }
      }
      &-body {
        padding: 0 0 0 60px;
        color: var(--col-deep);

        ul {
          list-style: disc;
          padding-left: 20px;
        }
      }
    }
  }

  &__e-invoice_page {
    &.container {
      width: 70% !important;

      figure {
        img {
          width: auto;
          height: 100px;
        }
      }
    }
  }
  .btn-link-purple {
    display: inline-block;
    min-width: 156px;
    border-radius: 6px;
    background-color: var(--col-blue);
    color: var(--col-white);
    padding: 10px 18px;
    transition: all 400ms ease;
    &:hover {
      background-color: var(--col-primary);
    }
  }
}

.view-more-btn{
  padding: 3px 7px;
  display: inline-block;
  border: 1px solid var(--col-primary);
  border-radius: 6px;
  margin-top: 12px;
}

#viewMorePopup{
  .modal-dialog{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    max-width: 100%;

    .modal-content{
      height: 80vh; 

      .modal-body{    
        .custom-container{
          width: 90%;
          margin: 0 auto;
        }   
        .video-wrapper{
          box-shadow: -3px 4px 13px 3px;
          overflow: hidden;
          min-width: 500px;
          aspect-ratio: 16 / 9;
          iframe{
            height: 100%;
            width: 100%;
          }
      }
      .custom-ul-with-right-tick{
        li{
          line-height: 32px;
        }
      }
      }      
    }
  }
}

@media (max-width: 991px) {
  .features {
    &__heading_container {
      height: auto !important;
      padding-top: 90px;
      padding-bottom: 40px;

      h2 {
        &.heading {
          font-size: var(--c-fs-1);
        }
      }
      p {
        &.c-fs-3 {
          font-size: var(--c-fs-5) !important;
        }
      }
      figure {
        &.text-end {
          text-align: center !important;
          img {
            &:first-child {
              width: 40%;
              transform: translateX(60px);
            }
          }
        }
      }
      &__right_banner_img {
        left: 60px !important;
      }
    }

    &__sub_heading_container {
      padding-top: 60px;
      &--pull-top {
        margin-top: 0 !important;
      }
    }

    &__description_container {
      .border-horizontal {
        border: none !important;
      }
      .__image-alignment {
        text-align: center;
        order: 1;
      }
      &__content {
        margin-top: 25px;
      }
      &--row-odd {
        flex-direction: column-reverse !important;
      }
      &--row-even {
        flex-direction: column-reverse !important;
      }
      .row {
        &.border-horizontal {
          margin-bottom: 1rem !important;
          padding-bottom: 1rem !important;
        }
        &.--read-more {
          .col-md-12 {
            &.col-lg-6 {
              &:first-child {
                width: 100% !important;
                order: 2;
              }
              &:nth-child(2) {
                width: 80% !important;
                order: 3;
              }
            }
          }
        }
      }
    }

    &__suggestion_container {
      padding: 34px 0;

      &__links {
        display: flex;
        align-items: stretch;
        justify-content: center;
        a {
          padding: 0px 6px;
          min-width: 80px;
          font-size: var(--c-fs-6);
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .features {
    &__heading_container {
      &__links {
        a {
          font-size: var(--c-fs-6);
        }
        .download_free_btn {
          padding: 8px 14px;
          &.me-4 {
            margin-right: 15px !important;
          }
        }
      }
    }
    &__accordion_container {
      .accordion-button {
        align-items: start !important;
      }
    }
  }
}
