.banner {
  padding-top: 110px;
  min-height: 550px;
  height: 55vh;
  max-height: auto;
  display: flex;
  padding-bottom: 65px;
  position: relative;
  background-image: linear-gradient(
    to right,
    #e8e8f3,
    #e8e8f5,
    #f0eff8,
    #f8f7fc,
    #ffffff
  );

  .heading-text {
    font-size: 58px;
    line-height: 72px;
  }

  figure {
    img {
      -webkit-filter: drop-shadow(5px 5px 10px lightgrey);
      filter: drop-shadow(5px 5px 10px lightgrey);
    }
  }

  &__contact_btn {
    button {
      display: inline-block;
      max-width: 100%;
      font-size: var(--c-fs-3);
      color: var(--col-white);
      background-color: var(--col-primary);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 3px;
      padding: 0 33px;
      height: 50px;
      cursor: pointer;
      line-height: 50px;
      text-align: center;
      margin: 0;
      outline: none;
      border: none;
    }
  }
}

@media (max-width: 1199px) {
  .banner {
    .heading-text {
      font-size: 62px;
      line-height: 62px;
    }
    figure {
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 991px) {
  .banner {
    text-align: center;
    height: 100%;
    padding-bottom: 0;

    figure {
      margin-top: 4rem;
      margin-bottom: 4rem;
      img {
        width: 60%;
        min-width: 270px;
      }
    }
    &__wrapper {
      h1 {
        font-size: 48px;
      }
      p {
        font-size: var(--c-fs-3);
      }
    }
  }
}
@media (max-width: 575px) {
  .banner {
    .heading-text {
      line-height: 58px !important;
      font-size: 52px;
    }
    &__contact_btn {
      button {
        font-size: var(--c-fs-4);
        padding: 0 27px;
      }
    }
  }
}
