.client-summary{
   padding: 5rem 0 7rem 0;
    &__title{
       font-size: var(--heading); 
    }
    &__content-wrapper{
        margin-top: 80px;
        .column-wrapper{
            .client{
               figure{
                border-radius: 2px;
                box-shadow: 0 0 1px 0px var(--col-dark-light);
                width: auto;
                height: 180px;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    object-fit: contain;
                    min-width: 60px;
                    min-height: 60px;
                    height: auto;
                    max-height: 80px;
                    max-width: 150px;
                }
               }               
            }
            &:nth-child(even){
                .client{
                    // transform: translateY(20px);
                    // animation: jhoombarabar-bottom-elements 2.8s ease-in alternate infinite;
                }
               }
               &:nth-child(odd){
                .client{
                    // transform: translateY(-20px);
                    // animation: jhoombarabar-top-elements 2.8s ease-in alternate infinite;
                }
               }
        }
    }
}
// @keyframes jhoombarabar-top-elements {
//     from{
//         transform: translateY(-20px);
//     }
//     to{
//         transform: translateY(20px);
//     }
// }

// @keyframes jhoombarabar-bottom-elements {
//     from{
//         transform: translateY(20px);
//     }
//     to{
//         transform: translateY(-20px);
//     }
// }