.contact_us {
  &__banner {
    background: url("/img/contactus-banner.webp");
    &__content {
      padding-top: 280px;
      padding-bottom: 20px;
      text-align: center;

      h1 {
        font-size: 60px;
      }
    }
  }
  &__content {
    padding: 50px 0;
    .contact-details {
      &__wapper {
        address {
          width: auto;
          margin: 0 auto;
          font-size: var(--c-fs-4);
          a,
          svg {
            color: var(--col-dark);
          }
        }
        button {
          display: inline-block;
          max-width: 100%;
          font-size: var(--c-fs-5);
          color: var(--col-white);
          background-color: var(--col-primary);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          border-radius: 3px;
          padding: 0 12px;
          cursor: pointer;
          line-height: 40px;
          text-align: center;
          margin: 2rem auto;
          outline: none;
          border: none;
          min-width: 165px;
        }
        &--email {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .contact_us {
    &__banner {
      &__content {
        h1 {
          font-size: 36px;
        }
        p {
          font-size: var(--c-fs-3) !important;
        }
      }
    }
  }
}
