.download-free-modal{
    .modal-header{
        background-color: var(--col-primary);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding: 0.5rem 1rem !important;
    }
    .modal-body{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
 
    &__btn_link{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#E2E2F8;
        color: var(--col-primary);
        font-size: 14px;
        padding: 6px 10px;
        margin: 0 10px;
        border-radius: 4px;
        min-width: 190px;
        img{
            width: 18px;
            margin-right: 6px;
        }
        &:hover{
            background-color: #cdcdea;
        }

    }
}