// ========================== Index Page Enquiry Section SCSS CODE==============START============================
.enquiry_form {
    padding-top: 110px;
    min-height: 100vh;
    display: flex;
    padding-bottom: 65px;
    background-image: url(/img/home-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
  
    &__wrapper {
      &__title {
        color: var(--col-white);
        h1 {
          font-size: 48px;
          margin-bottom: 20px;
        }
      }
      &__form_wrapper {
        background: rgba(255, 255, 255, 0.2) !important;
        padding: 30px 20px !important;
        position: relative;
        min-height: 270px !important;
  
        form {
          .form-control,
          .form-select {
            font-size: var(--c-fs-5);
            min-height: 46px;
          }
          textarea {
            resize: none;
          }
          .error-input{
            border: 1px solid red;
          }
  
          button {
            &.submit__button {
              position: absolute;
              bottom: -25px;
              left: 50%;
              transform: translateX(-50%);
  
              font-weight: 600;
              padding: 0px 36px;
              height: 50px;
              width: clamp(200px, 100%, 200px);
              color: var(--col-primary);
              background-color: var(--col-white);
              border: 1px solid var(--col-white);
              border-radius: 25px;
            }
          }
        }
        .error-msg{
          position: relative;
          z-index: 0;
          padding-left: 10px;
          animation: earthquake 600ms ease-in-out 100ms;
          display: inline-block;
          &::before{
            content: '';
            position: absolute;
            left: 0;
            display: block;
            width: 222px;
            height: 24px;
            filter: blur(8px);
            z-index: -1;
            background: rgba(255,0,0,0.4);
            border-radius: 30px;
          }
        }
      }
    }
  
    &--max-width-unset {
      max-width: 1140px !important;
    }
  }
  @media (max-width: 991px){
    .enquiry_form {         
      &__wrapper {        
        &__form_wrapper {
          padding-bottom: 3rem !important;
        }
      }
    }
  }
  @media (max-width: 575px){
    .enquiry_form {  
      &--max-width-unset{
        &.container{
          padding: 0 !important;
        }
      }       
      &__wrapper {        
        &__form_wrapper {
          padding: 20px 8px 3rem 8px !important;
        }
      }
    }
  }

  @keyframes earthquake {
    0%{
      transform: translateX(0px);
    }
    50%{
      transform: translateX(30px);
    }
    55%{
      transform: translateX(15px);
    }
   60%{
      transform: translateX(30px);
    }
    100%{
      transform: translateX(0px);
    }
  }
  // ========================== Index Page Enquiry Section SCSS CODE===============END=============================