.feature-gallery {
  background-color: #f9f9f9;
  padding: 4rem 0 5rem 0;
  &__title {
    h2 {
      color: var(--col-primary);
    }
    p {
      color: #707070;
    }
  }
  &--see-more {
    background: #fff url("/img/feature-gallery-icons/explore-all-features-background-image.png") !important;
    background-size: 240px!important;
    background-repeat: no-repeat !important;
    background-position: 10% 50% !important;
    border: none !important;
    cursor: pointer;
    &::after{
      content: 'Explore \A all Features';
      font-size: var(--c-fs-2);
      white-space: pre;
      color: var(--col-dark);
      width: 130px;
      margin-left: auto;
      margin-right: 10%;
    }

    &:hover {
      transform: scale(1.01);
    }
  }
  &__card {
    min-height: 250px;
    height: 92%;
    border: 1px solid #f1f1f1;
    border-radius: 16px;
    background: #fff;
    margin: 30px auto 0 auto !important;
    padding-top: 20px;
    padding-bottom: 10px;
    transition: 200ms all cubic-bezier(0.4, 0, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    }

    figure {
      figcaption {
        margin-top: 15px;
        font-size: var(--c-fs-4);
        font-weight: var(--c-fw-600);
      }
    }
    a,
    figcaption {
      color: var(--col-primary);
    }

    .view-more-btn {
      padding: 3px 7px;
      display: inline-block;
      border: 1px solid var(--col-primary);
      border-radius: 6px;
      margin-top: 12px;
    }
  }
}


@media (max-width: 767px) {
  .feature-gallery {
    &__card {
      padding-bottom: 20px;
      figure{
        img{
          height: 120px;
        }
      }
      .view-more-btn                                                                                                                                                                                                            {
        margin-top: 1.5rem;
      }
    }
  }
}
