// ========================== Index Page LINK FEATURE GALLERY SCSS CODE==============START===========================

.feature-gallery {
    background-color: #f9f9f9;
    padding: 4rem 0 5rem 0;
    &__title {
      h2 {
        color: var(--col-primary);
      }
      p {
        color: #707070;
      }
    }
    &__card {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 250px;
  
      border: 1px solid #f1f1f1;
      background: #fff;
      text-align: center;
      margin: 30px auto 0 auto !important;
      padding-top: 20px;
      padding-bottom: 10px;
      cursor: pointer;
      transition: 200ms all cubic-bezier(0.4, 0, 1, 1);
  
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
      }
  
      figure {
        figcaption {
          margin-top: 15px;
          font-size: var(--c-fs-3);
          font-weight: var(--c-fw-600);
        }
      }
      a,
      figcaption {
        color: var(--col-primary);
      }
    }
  }

  // Modal SCSS Code
  .feature_gallery_modal{
    .modal-content{
      padding: 25px;
      border-radius: 20px;
      .modal-header{
        border-bottom: 0;
        padding: 0;
        button{
          position: absolute;
          right: 0;
          top: -10px;
          z-index: 2;
          border: 0 !important;
          svg{
            font-size: 32px;
          }
        }
      }
      .modal-body{
        h5{
          line-height: 35px;
        }
      }
      
    }
  }
  
  // ========================== Index Page LINK FEATURE GALLERY SCSS CODE===============END============================