.feature-gallery {
  background-color: #f9f9f9;
  padding: 4rem 0 5rem 0;
  &__title {
    h2 {
      color: var(--col-primary);
    }
    p {
      color: #707070;
    }
  }
  &--see-more {
    background: #fff url("/img/feature-gallery-icons/explore-all-features-background-image.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border: none !important;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__card {
    min-height: 250px;
    height: 92%;
    border: 1px solid #f1f1f1;
    border-radius: 16px;
    background: #fff;
    margin: 30px auto 0 auto !important;
    padding-top: 20px;
    padding-bottom: 10px;
    transition: 200ms all cubic-bezier(0.4, 0, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    }

    figure {
      figcaption {
        margin-top: 15px;
        font-size: var(--c-fs-4);
        font-weight: var(--c-fw-600);
      }
    }
    a,
    figcaption {
      color: var(--col-primary);
    }
  }
}

@media (max-width: 1199px) {
  .feature-gallery {
    &--see-more {
      background-size: contain !important;
      background-position: center !important;
    }
  }
}

@media (max-width: 767px) {
  .feature-gallery {
    &__card {
      padding-bottom: 20px;
      figure{
        img{
          height: 120px;
        }
      }
      .view-more-btn                                                                                                                                                                                                            {
        margin-top: 1.5rem;
      }
    }
  }
}
