.footer {
  background-color: #f7f7fd;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 450px;
  border-bottom-left-radius: 0px;

  .download-icon {
    margin-bottom: 1.5rem;
    cursor: pointer;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 7px;
    background-color: #e2e2f8;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 30px;
      height: 30px;
    }
  }
  .dropdown {
    .country-icon {
      background-color: #e2e2f8 !important;
      width: inherit !important;
      max-width: 270px;
      padding: 6px 15px !important;
      border-radius: 30px !important;
      text-align: start !important;
      outline: none !important;
      img {
        width: 15px;
        height: 15px;
        margin-top: -3px;
        margin-right: 6px;
      }
      &::after {
        position: absolute;
        right: 16px;
        top: 16px;
      }
    }
  }

  &-menu {
    width: 100%;
    max-width: 270px;
  }
  footer {
    .footer-list {
      font-size: 16px;
      margin-bottom: 20px !important;
      display: contents;
      li {
        a {
          color: #1c1c1c;
          font-size: 16px;
          margin-bottom: 1rem;        
          text-decoration: none;
        }
      }
    }
    
  }
}


@media (max-width:575px){
  .footer-container {
    border-bottom-right-radius: 0px;
  }
  
}