.giddh-vs-zoho {
    padding-top: 54px;
    &__banner {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;
      height: 80vh;
      border-top-left-radius: 300px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 0;
  
      .banner-content {
        &__title {
          font-size: 56px;
          -webkit-mask: linear-gradient(#fff 0 0) text;
          mask: linear-gradient(#000 0 0) text;
          backdrop-filter: invert(1);
          color: var(--col-white);
        }
      }
    }
  }
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }