// COLOR VARIBALES
$color-primary: var(--col-primary);
$color-white: var(--col-white);
$dark-grey: #212528;
$light-silver: #d5d9dc;
$light-skyblue: #e2e2f8;

// ================================= LOGIN PAGE SCSS CODE=====================START============================
.entry {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  overflow-y: auto;

  &__left_section {
    background-color: $light-skyblue;
    position: relative;

    img {
      position: absolute;
    }
    &__banner {
      top: 22%;
    }
    &__brand_logo {
      top: 80px;
      left: 40px;
      height: 32px;
    }
  }
  &__right_section {
    &__container {
      &.container {
        padding-top: 70px;
        padding-bottom: 40px;
        padding-left: 80px !important;
        max-width: 100% !important;
      }

      h1 {
        color: $dark-grey;
        margin-bottom: 24px;
      }
      &__entry_with {
        button {
          display: flex;
          height: 40px;
          padding: 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border: 1px solid $color-primary;
          border-radius: 4px;
          font-weight: 500;
          color: $color-primary;
          background-color: $color-white;
          padding: 0px 16px;
        }
      }

      .line_on_right {
        position: relative;
        margin-bottom: 24px;
        &::after {
          content: "";
          position: absolute;
          left: 28px;
          display: block;
          width: 420px;
          border-top: 1px solid $light-silver;
          top: 12px;
        }
      }
      &__entry_button {
        height: 40px;
        width: auto;
        padding: 0px 16px;
        color: $color-white;
        border-radius: 4px;
        background-color: $color-primary;
        border: 1px solid $color-primary;
      }
      .text_blue {
        color: $color-primary;
      }
    }
  }
}

@media (max-width: 767px) {
  .entry {
    flex-direction: column-reverse;
    &__left_section {
      &__brand_logo {
        display: none;
      }
      img {
        position: unset !important;
        margin: 1rem 0;
        padding-right: 0px !important;
      }
    }
    &__right_section {
      &__container {
        &.container {
          margin: 2rem auto;
          max-width: 350px;
          padding-top: 0 !important;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }

        .line_on_right {
          &::after {
            width: 220px;
          }
        }
        &--logo-visible-in-small {
          &.d-none {
            display: block !important;
          }
        }
      }
    }
  }
}

// ================================= LOGIN PAGE SCSS CODE======================END=============================
