.navbar {
  z-index: 100;
  top: 0;
  padding-left: 15px !important;
  padding-right: 15px !important;
  backdrop-filter: blur(10px);

  .website-globe-icon {
    .a {
      fill: var(--col-primary);
    }
    .b,
    .d {
      fill: none;
    }
    .b {
      stroke: var(--col-primary);
    }
    .c {
      stroke: none;
    }
  }
  .navbar-toggler {
    box-shadow: none !important;
    border: none !important;
    svg {
      .hamberger_icon {
        stroke: var(--col-white);
        transform: translate(3.5px, 10px);
      }
    }

    // Opened
    &:not(.collapsed) {
      svg {
        .bar-top {
          animation: toggle-animation-line-1 500ms ease forwards;
        }
        .bar-middle {
          display: none;
        }
        .bar-bottom {
          animation: toggle-animation-line-2 500ms ease forwards;
        }
      }
    }
    // Closed
    &.collapsed {
      svg {
        .bar-middle {
          display: block;
          animation: scale-bar 400ms ease 100ms;
        }
      }
    }
  }
  .navbar-nav {
    margin-right: 5%;
    .nav-item {
      .nav-link {
        padding: 15px 14px;

        &.chevron_down {
          position: relative;
          padding-right: 18px;
          margin-right: 14px;
          &::after {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid;
            border-right: 2px solid;
            transform: rotate(45deg);
            right: 0;
            top: 20px;
          }
        }
      }
      .dropdown-menu {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: 0;
        border-top: 4px solid var(--col-primary);
        padding: 10px 15px;

        &--position-left {
          transform: translateX(-130px);
        }

        &__wapper {
          grid-template-columns: repeat(4, 1fr);
          li {
            a {
              display: inline-block;
              padding: 6px 5px;
              min-width: 200px;
              color: var(--col-dark);
              white-space: nowrap;
              transition: all 200ms;
              &:hover {
                color: var(--col-primary);
              }
            }
          }
        }
        li {
          & > a {
            display: inline-block;
            padding: 6px 5px;
            width: 100%;
            color: var(--col-dark);
            transition: all 200ms;
            &:hover {
              color: var(--col-primary);
            }
          }
        }
      }
      &:hover {
        .dropdown-menu {
          display: block !important;
        }
      }
    }
  }

  .login_page_link {
    padding: 3px 20px;
    margin-left: 30px;
    background-color: transparent;
    color: var(--col-primary);
    border: 1px solid;
    border-radius: 20px;
    display: inline-block;
  }
  .signup_page_link {
    padding: 3px 20px;
    margin-left: 15px;
    background-color: var(--col-primary);
    color: var(--col-white);
    border: 1px solid var(--col-primary);
    border-radius: 20px;
    display: inline-block;
  }

  &--navbar_brand {
    svg {
      width: auto;
      height: 30px;
    }
  }

  &--theme-white {
    background-color: var(--col-white);
    .giddh-logo-svg {
      fill: var(--col-primary);
    }
    .website-globe-icon {
      .a {
        fill: var(--col-primary);
      }
      .b,
      .d {
        fill: none;
      }
      .b {
        stroke: var(--col-primary);
      }
      .c {
        stroke: none;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: var(--col-dark);

          &:hover {
            color: var(--col-primary);
          }
          &.active {
            color: var(--col-primary);
          }
        }
      }
    }
    .login_page_link {
      background-color: var(--col-white);
      color: var(--col-primary);
    }
    .signup_page_link {
      background-color: var(--col-primary);
      color: var(--col-white);
      border: 1px solid var(--col-primary);
    }
  }
  &--box-shadow {
    box-shadow: 0 0 10px 0 #e2e2e2 !important;
  }
}

// Media Query
@media (max-width: 1199px) {
  .navbar {
    .navbar-nav {
      margin-right: 15px !important;
      .nav-item {
        .nav-link {
          padding: 15px 10px !important;
          font-size: var(--c-fs-6) !important;
          &--feature-menu {
            padding-right: 16px !important;
          }
          &--resource-menu {
            padding-right: 16px !important;
          }
        }
      }
    }
    .login_page_link {
      margin-left: 15px !important;
    }
    &--navbar_brand {
      svg {
        width: auto;
        height: 26px;
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar {
    .giddh-logo-svg {
      fill: var(--col-white);
    }
    background-color: var(--col-primary) !important;
    box-shadow: none !important;
    min-height: 44px;
    &.py-0 {
      padding: 8px 0 !important;
    }

    &--navbar_brand {
      svg {
        width: 100px !important;
      }
    }
    .navbar-collapse {
      height: calc(100dvh - 34px);
      overflow-y: auto;
    }
    .navbar-nav {
      margin-right: 0 !important;
      .nav-item {
        .nav-link {
          padding: 8px 10px !important;
          padding-left: 0 !important;
          font-size: 14px !important;
          color: var(--col-white);
        

          &--feature-menu {
            &::after {
              width: 8px !important;
              height: 8px !important;
              left: 64px;
            }
          }
          &--resource-menu {
            &::after {
              width: 8px !important;
              height: 8px !important;
              left: 76px;
            }
          }

          &.chevron_down {
            &::after {
              top: 13px;
            }
          }
        }
        .dropdown-menu {
          background-color: transparent !important;
          border: none !important;
          box-shadow: none !important;
          padding: 10px 15px;

          &--position-left {
            transform: unset !important;
          }

          &__wapper {
            grid-template-columns: repeat(3, 1fr);
            li {
              a {
                font-size: 12px;
                min-width: 150px;
                color: var(--col-white);
                transition: unset !important;
                &:hover {
                  color: var(--col-white) !important;
                  font-weight: 600;
                }
              }
            }
          }
          li {
            & > a {
              font-size: 12px;
              color: var(--col-white);
              transition: unset !important;
              &:hover {
                color: var(--col-white) !important;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    .nav_right {
      padding-bottom: 1.5rem;
      padding-top: 15px;
      border-top: 1px solid var(--col-white);
      justify-content: center;

      .country_dropdown {
        &__menu {
          background: transparent;
          border: none;
          color: var(--col-white);
          border-left: 1px solid;
          border-radius: 0;
          transform: translateX(16px);

          li {
            a {
              color: var(--col-white);
              &:hover,
              &.active {
                background-color: rgba(0, 0, 0, 0.1);
              }
            }
          }
        }
      }
    }
    &--theme-white {
      .giddh-logo-svg {
        fill: var(--col-white);
      }
      .website-globe-icon {
        .a {
          fill: var(--col-white);
        }
        .b,
        .d {
          fill: none;
        }
        .b {
          stroke: var(--col-white);
        }
        .c {
          stroke: none;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: var(--col-white);
          }
        }
      }
      .login_page_link {
        background-color: transparent;
        color: var(--col-white) !important;
        border: 1px solid var(--col-white) ;
      }
      .signup_page_link {
        background-color: var(--col-white);
        color: var(--col-primary);
        border: 1px solid var(--col-white);
      }
    }
  }
}

// Media Query
@media (max-width: 767px) {
  .navbar {
    .navbar-nav {
      margin-right: 0 !important;
      .nav-item {
        .dropdown-menu {
          &__wapper {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
  }
}

// ==================== Keyframe Animation ================ //

// Animation for hamberger line 1
@keyframes toggle-animation-line-1 {
  0% {
    transform: rotate(0) translate(0px, 8.5px);
  }
  1% {
    transform: rotate(0) translate(0, -18px);
  }
  100% {
    transform: rotate(45deg) translate(12px, -18px);
  }
}

// Animation for hamberger line 2
@keyframes toggle-animation-line-2 {
  0% {
    transform: translateY(8.5px);
  }
  1% {
    transform: rotate(0) translate(-0, 27px);
  }
  100% {
    transform: rotate(-45deg) translate(-17px, 27px);
  }
}
