.pricing_main_section {
  background-color: #fafafa;
  padding-top: 60px;
  padding-bottom: 60px;

  .benefits-link {
    display: inline-block;
    margin-top: 4px;
    padding: 6px 14px;
    font-size: 14px;
    color: var(--col-white);
    background-color: var(--col-primary);
    &.bg-grey {
      background-color: #494d50;
    }
  }
  &__grid {
    display: grid;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 1100px;
    font-weight: var(--c-fw-600);

    &.display-four {
      grid-auto-rows: minmax(50px, auto);
      grid-template-rows: minmax(240px, auto) minmax(110px, auto) minmax(60px, auto);
      grid-template-columns: auto 180px 180px 180px 180px;
      grid-template-areas:
        "title title title title title"
        "logo logo birch oak vine"
        "benefits benefits b2 b3 b4"
        "invoice_count invoice_count inc2 inc3 inc4"
        "bill_count bill_count bc2 bc3 bc4"
        "companies companies c2 c3 c4"
        "accountant_consultant accountant_consultant ac2 ac3 ac4"
        "desktop_mobile_app desktop_mobile_app d2 d3 d4"
        "user-access user-access ua2 ua3 ua4"
        "security security s2 s3 s4"
        "customers_vendors customers_vendors cv2 cv3 cv4"
        "invoicing invoicing in2 in3 in4"
        "record-bills record-bills rb2 rb3 rb4"
        "managing-inventory managing-inventory mi2 mi3 mi4"
        "journal-entry journal-entry je2 je3 je4"
        "multi-currency multi-currency mc2 mc3 mc4"
        "gst gst g2 g3 g4"
        "reports reports r2 r3 r4"
        "dashboard dashboard rd2 rd3 rd4"
        "bank bank br2 br3 br4"
        "manufacturing manufacturing m2 m3 m4"
        "bankInt bankInt ic2 ic3 ic4"
        "e-commerce e-commerce ecom2 ecom3 ecom4"
        "telecom telecom tc2 tc3 tc4"
        "warehouse warehouse w2 w3 w4"
        "easy-import easy-import imex2 imex3 imex4"
        "financial financial fy2 fy3 fy4"
        "support support sp2 sp3 sp4"
        "link_all_feature extra_charges extra_charges extra_charges extra_charges";

      .display-all {
        &__child {
          display: none !important;
        }
      }
    }

    &.display-uk {
      grid-auto-rows: minmax(50px, auto);
      grid-template-rows: minmax(240px, auto) minmax(30px, auto) minmax(60px, auto) minmax(60px, auto);
      grid-template-columns: auto 180px 180px 180px 180px;
      grid-template-areas:
        "title title title title title"
        "logo birch oak vine sequoia"
        "benefits b2 b3 b4 b5"
        "invoice_count inc2 inc3 inc4 inc5"
        "bill_count bc2 bc3 bc4 bc5"
        "companies c2 c3 c4 c5"
        "accountant_consultant ac2 ac3 ac4 ac5"
        "desktop_mobile_app d2 d3 d4 d5"
        "user-access ua2 ua3 ua4 ua5"
        "security s2 s3 s4 s5"
        "customers_vendors cv2 cv3 cv4 cv5"
        "invoicing in2 in3 in4 in5"
        "record-bills rb2 rb3 rb4 rb5"
        "managing-inventory mi2 mi3 mi4 mi5"
        "journal-entry je2 je3 je4 je5"
        "multi-currency mc2 mc3 mc4 mc5"
        "gst g2 g3 g4 g5"
        "reports r2 r3 r4 r5"
        "dashboard rd2 rd3 rd4 rd5"
        "bank br2 br3 br4 br5"
        "manufacturing m2 m3 m4 m5"
        "bankInt ic2 ic3 ic4 ic5"
        "e-commerce ecom2 ecom3 ecom4 ecom5"
        "telecom tc2 tc3 tc4 tc5"
        "warehouse w2 w3 w4 w5"
        "easy-import imex2 imex3 imex4 imex5"
        "financial fy2 fy3 fy4 fy5"
        "support sp2 sp3 sp4 sp5"
        "link_all_feature extra_charges extra_charges extra_charges extra_charges";
    }

    &.global {
      grid-auto-rows: minmax(50px, auto);
      grid-template-rows: minmax(240px, auto) minmax(110px, auto) minmax(60px, auto);
      grid-template-columns: auto 180px 180px 180px 180px;
      grid-template-areas:
        "title title title title title"
        "logo logo birch oak vine"
        "benefits benefits b2 b3 b4"
        "invoice_count invoice_count inc2 inc3 inc4"
        "bill_count bill_count bc2 bc3 bc4"
        "companies companies c2 c3 c4"
        "accountant_consultant accountant_consultant ac2 ac3 ac4"
        "desktop_mobile_app desktop_mobile_app d2 d3 d4"
        "user-access user-access ua2 ua3 ua4"
        "security security s2 s3 s4"
        "customers_vendors customers_vendors cv2 cv3 cv4"
        "invoicing invoicing in2 in3 in4"
        "record-bills record-bills rb2 rb3 rb4"
        "managing-inventory managing-inventory mi2 mi3 mi4"
        "journal-entry journal-entry je2 je3 je4"
        "multi-currency multi-currency mc2 mc3 mc4"
        "reports reports r2 r3 r4"
        "dashboard dashboard rd2 rd3 rd4"
        "bank bank br2 br3 br4"
        "manufacturing manufacturing m2 m3 m4"
        "bankInt bankInt ic2 ic3 ic4"
        "e-commerce e-commerce ecom2 ecom3 ecom4"
        "telecom telecom tc2 tc3 tc4"
        "warehouse warehouse w2 w3 w4"
        "easy-import easy-import imex2 imex3 imex4"
        "financial financial fy2 fy3 fy4"
        "support support sp2 sp3 sp4"
        "link_all_feature extra_charges extra_charges extra_charges extra_charges";

      .display-all {
        &__child {
          display: none !important;
        }
      }
    }

    &.display-all {
      grid-auto-rows: minmax(50px, auto);
      grid-template-rows: minmax(240px, auto) minmax(30px, auto) minmax(90px, auto) minmax(60px, auto);
      grid-template-columns: auto 180px 180px 180px 180px;
      grid-template-areas:
        "title title title title title"
        "gst-exclusive gst-exclusive gst-exclusive gst-exclusive gst-exclusive"
        "logo birch oak vine sequoia"
        "benefits b2 b3 b4 b5"
        "invoice_count inc2 inc3 inc4 inc5"
        "bill_count bc2 bc3 bc4 bc5"
        "companies c2 c3 c4 c5"
        "accountant_consultant ac2 ac3 ac4 ac5"
        "desktop_mobile_app d2 d3 d4 d5"
        "user-access ua2 ua3 ua4 ua5"
        "security s2 s3 s4 s5"
        "customers_vendors cv2 cv3 cv4 cv5"
        "invoicing in2 in3 in4 in5"
        "record-bills rb2 rb3 rb4 rb5"
        "managing-inventory mi2 mi3 mi4 mi5"
        "journal-entry je2 je3 je4 je5"
        "multi-currency mc2 mc3 mc4 mc5"
        "gst g2 g3 g4 g5"
        "gst-direct gdf2 gdf3 gdf4 gdf5"
        "reports r2 r3 r4 r5"
        "dashboard rd2 rd3 rd4 rd5"
        "bank br2 br3 br4 br5"
        "manufacturing m2 m3 m4 m5"
        "e-invoice ei2 ei3 ei4 ei5"
        "eway-bill ewb2 ewb3 ewb4 ewb5"
        "e-commerce ecom2 ecom3 ecom4 ecom5"
        "telecom tc2 tc3 tc4 tc5"
        "warehouse w2 w3 w4 w5"
        "easy-import imex2 imex3 imex4 imex5"
        "financial fy2 fy3 fy4 fy5"
        "support sp2 sp3 sp4 sp5"
        "link_all_feature extra_charges extra_charges extra_charges extra_charges";
    }

    &__title {
      grid-area: title;
      text-align: center;
    }
    &__all-prices-message {
      grid-area: gst-exclusive;
      text-align: right;
    }

    &__guarantee_logo {
      grid-area: logo;
      figure {
        img {
          max-width: 70px;
          width: 100%;
          height: 100%;
        }
      }
    }
    &__birch {
      grid-area: birch;
    }
    &__oak {
      grid-area: oak;
      background-color: var(--col-white);
      .plan_tag {
        position: absolute;
        right: -5px;
        top: -4px;
        z-index: 1;
      }
    }
    &__vine {
      grid-area: vine;
      background-color: #e6fff5;
      .plan_tag {
        position: absolute;
        right: -5px;
        top: -4px;
        z-index: 1;
      }
    }
    &__sequoia {
      grid-area: sequoia;
      background-color: #ffe5e8;
    }

    &__benefits {
      grid-area: benefits;
    }
    &__b2 {
      grid-area: b2;
    }
    &__b3 {
      grid-area: b3;
      background-color: var(--col-white);
    }
    &__b4 {
      grid-area: b4;
      background-color: #e6fff5;
    }
    &__b5 {
      grid-area: b5;
      background-color: #ffe5e8;
    }

    &__bill_count {
      grid-area: bill_count;
      justify-content: start !important;
    }
    &__bill_count_2 {
      grid-area: bill_count_2;
      justify-content: start !important;
      &.pricing-border-top {
        display: none;
      }
    }
    &__bill_count_3 {
      grid-area: bill_count_3;
      justify-content: start !important;
      &.pricing-border-top {
        display: none;
      }
    }
    &__bill_count_4 {
      grid-area: bill_count_4;
      justify-content: start !important;
      &.pricing-border-top {
        display: none;
      }
    }
    &__bill_count_5 {
      grid-area: bill_count_5;
      justify-content: start !important;
      &.pricing-border-top {
        display: none;
      }
    }

    &__bc2 {
      grid-area: bc2;
    }
    &__bc3 {
      grid-area: bc3;
      background-color: var(--col-white);
    }
    &__bc4 {
      grid-area: bc4;
      background-color: #e6fff5;
    }
    &__bc5 {
      grid-area: bc5;
      background-color: #ffe5e8;
    }

    &__invoice_count {
        grid-area: invoice_count;
        justify-content: start !important;
      }
    &__invoice_count_2 {
        grid-area: invoice_count_2;
        justify-content: start !important;
    &.pricing-border-top {
        display: none;
    }
    }
    &__invoice_count_3 {
        grid-area: invoice_count_3;
        justify-content: start !important;
    &.pricing-border-top {
        display: none;
    }
    }
    &__invoice_count_4 {
        grid-area: invoice_count_4;
        justify-content: start !important;
    &.pricing-border-top {
        display: none;
    }
    }
    &__invoice_count_5 {
        grid-area: invoice_count_5;
        justify-content: start !important;
    &.pricing-border-top {
        display: none;
    }
    }

    &__inc2 {
        grid-area: inc2;
    }
    &__inc3 {
        grid-area: inc3;
        background-color: var(--col-white);
    }
    &__inc4 {
        grid-area: inc4;
        background-color: #e6fff5;
    }
    &__inc5 {
        grid-area: inc5;
        background-color: #ffe5e8;
    }

    &__companies {
        grid-area: companies;
        justify-content: start !important;
    }
    &__companies_2 {
        grid-area: companies_2;
        justify-content: start !important;
        display: none;
    }
    &__companies_3 {
        grid-area: companies_3;
        justify-content: start !important;
        display: none;
    }
    &__companies_4 {
        grid-area: companies_4;
        justify-content: start !important;
        display: none;
    }
    &__companies_5 {
        grid-area: companies_5;
        justify-content: start !important;
        display: none;
    }

    &__c2 {
      grid-area: c2;
    }
    &__c3 {
      grid-area: c3;
      background-color: var(--col-white);
    }
    &__c4 {
      grid-area: c4;
      background-color: #e6fff5;
    }
    &__c5 {
      grid-area: c5;
      background-color: #ffe5e8;
    }

    &__accountant_consultant {
      grid-area: accountant_consultant;
      justify-content: start !important;
    }
    &__accountant_consultant_2 {
      grid-area: accountant_consultant_2;
      justify-content: start !important;
      display: none;
    }
    &__accountant_consultant_3 {
      grid-area: accountant_consultant_3;
      justify-content: start !important;
      display: none;
    }
    &__accountant_consultant_4 {
      grid-area: accountant_consultant_4;
      justify-content: start !important;
      display: none;
    }
    &__accountant_consultant_5 {
      grid-area: accountant_consultant_5;
      justify-content: start !important;
      display: none;
    }

    &__ac2 {
      grid-area: ac2;
    }
    &__ac3 {
      grid-area: ac3;
      background-color: var(--col-white);
    }
    &__ac4 {
      grid-area: ac4;
      background-color: #e6fff5;
    }
    &__ac5 {
      grid-area: ac5;
      background-color: #ffe5e8;
    }

    &__customers_vendors {
      grid-area: customers_vendors;
      justify-content: start !important;
    }
    &__customers_vendors_2 {
      grid-area: customers_vendors_2;
      justify-content: start !important;
      display: none;
    }
    &__customers_vendors_3 {
      grid-area: customers_vendors_3;
      justify-content: start !important;
      display: none;
    }
    &__customers_vendors_4 {
      grid-area: customers_vendors_4;
      justify-content: start !important;
      display: none;
    }
    &__customers_vendors_5 {
      grid-area: customers_vendors_5;
      justify-content: start !important;
      display: none;
    }

    &__cv2 {
      grid-area: cv2;
    }
    &__cv3 {
      grid-area: cv3;
      background-color: var(--col-white);
    }
    &__cv4 {
      grid-area: cv4;
      background-color: #e6fff5;
    }
    &__cv5 {
      grid-area: cv5;
      background-color: #ffe5e8;
    }

    &__desktop_mobile_app {
      grid-area: desktop_mobile_app;
      justify-content: start !important;
    }
    &__desktop_mobile_app_2 {
      grid-area: desktop_mobile_app_2;
      justify-content: start !important;
      display: none;
    }
    &__desktop_mobile_app_3 {
      grid-area: desktop_mobile_app_3;
      justify-content: start !important;
      display: none;
    }
    &__desktop_mobile_app_4 {
      grid-area: desktop_mobile_app_4;
      justify-content: start !important;
      display: none;
    }
    &__desktop_mobile_app_5 {
      grid-area: desktop_mobile_app_5;
      justify-content: start !important;
      display: none;
    }

    &__d2 {
      grid-area: d2;
    }
    &__d3 {
      grid-area: d3;
      background-color: var(--col-white);
    }
    &__d4 {
      grid-area: d4;
      background-color: #e6fff5;
    }
    &__d5 {
      grid-area: d5;
      background-color: #ffe5e8;
      display: none;
    }

    &__invoicing {
      grid-area: invoicing;
      justify-content: start !important;
    }
    &__invoicing_2 {
      grid-area: invoicing_2;
      justify-content: start !important;
      display: none;
    }
    &__invoicing_3 {
      grid-area: invoicing_3;
      justify-content: start !important;
      display: none;
    }
    &__invoicing_4 {
      grid-area: invoicing_4;
      justify-content: start !important;
      display: none;
    }
    &__invoicing_5 {
      grid-area: invoicing_5;
      justify-content: start !important;
      display: none;
    }

    &__in2 {
      grid-area: in2;
    }
    &__in3 {
      grid-area: in3;
      background-color: var(--col-white);
    }
    &__in4 {
      grid-area: in4;
      background-color: #e6fff5;
    }
    &__in5 {
      grid-area: in5;
      background-color: #ffe5e8;
      display: none;
    }

    &__record-bills {
      grid-area: record-bills;
      justify-content: start !important;
    }
    &__record-bills_2 {
      grid-area: record-bills_2;
      justify-content: start !important;
      display: none;
    }
    &__record-bills_3 {
      grid-area: record-bills_3;
      justify-content: start !important;
      display: none;
    }
    &__record-bills_4 {
      grid-area: record-bills_4;
      justify-content: start !important;
      display: none;
    }
    &__record-bills_5 {
      grid-area: record-bills_5;
      justify-content: start !important;
      display: none;
    }

    &__rb2 {
      grid-area: rb2;
    }
    &__rb3 {
      grid-area: rb3;
      background-color: var(--col-white);
    }
    &__rb4 {
      grid-area: rb4;
      background-color: #e6fff5;
    }
    &__rb5 {
      grid-area: rb5;
      background-color: #ffe5e8;
      display: none;
    }

    &__managing-inventory {
      grid-area: managing-inventory;
      justify-content: start !important;
    }
    &__managing-inventory_2 {
      grid-area: managing-inventory_2;
      justify-content: start !important;
      display: none;
    }
    &__managing-inventory_3 {
      grid-area: managing-inventory_3;
      justify-content: start !important;
      display: none;
    }
    &__managing-inventory_4 {
      grid-area: managing-inventory_4;
      justify-content: start !important;
      display: none;
    }
    &__managing-inventory_5 {
      grid-area: managing-inventory_5;
      justify-content: start !important;
      display: none;
    }

    &__mi2 {
      grid-area: mi2;
    }
    &__mi3 {
      grid-area: mi3;
      background-color: var(--col-white);
    }
    &__mi4 {
      grid-area: mi4;
      background-color: #e6fff5;
    }
    &__mi5 {
      grid-area: mi5;
      background-color: #ffe5e8;
      display: none;
    }

    &__multi-currency {
      grid-area: multi-currency;
      justify-content: start !important;
    }
    &__multi-currency_2 {
      grid-area: multi-currency_2;
      justify-content: start !important;
      display: none;
    }
    &__multi-currency_3 {
      grid-area: multi-currency_3;
      justify-content: start !important;
      display: none;
    }
    &__multi-currency_4 {
      grid-area: multi-currency_4;
      justify-content: start !important;
      display: none;
    }
    &__multi-currency_5 {
      grid-area: multi-currency_5;
      justify-content: start !important;
      display: none;
    }

    &__mc2 {
      grid-area: mc2;
    }
    &__mc3 {
      grid-area: mc3;
      background-color: var(--col-white);
    }
    &__mc4 {
      grid-area: mc4;
      background-color: #e6fff5;
    }
    &__mc5 {
      grid-area: mc5;
      background-color: #ffe5e8;
      display: none;
    }

    &__gst {
      grid-area: gst;
      justify-content: start !important;
    }
    &__gst_2 {
      grid-area: gst_2;
      justify-content: start !important;
      display: none;
    }
    &__gst_3 {
      grid-area: gst_3;
      justify-content: start !important;
      display: none;
    }
    &__gst_4 {
      grid-area: gst_4;
      justify-content: start !important;
      display: none;
    }
    &__gst_5 {
      grid-area: gst_5;
      justify-content: start !important;
      display: none;
    }

    &__g2 {
      grid-area: g2;
    }
    &__g3 {
      grid-area: g3;
      background-color: var(--col-white);
    }
    &__g4 {
      grid-area: g4;
      background-color: #e6fff5;
    }
    &__g5 {
      grid-area: g5;
      background-color: #ffe5e8;
      display: none;
    }

    &__gst-direct {
        grid-area: gst-direct;
        justify-content: start !important;
      }
      &__gst-direct_2 {
        grid-area: gst-direct_2;
        justify-content: start !important;
        display: none;
      }
      &__gst-direct_3 {
        grid-area: gst-direct_3;
        justify-content: start !important;
        display: none;
      }
      &__gst-direct_4 {
        grid-area: gst-direct_4;
        justify-content: start !important;
        display: none;
      }
      &__gst-direct_5 {
        grid-area: gst-direct_5;
        justify-content: start !important;
        display: none;
      }
  
      &__gdf2 {
        grid-area: gdf2;
      }
      &__gdf3 {
        grid-area: gdf3;
        background-color: var(--col-white);
      }
      &__gdf4 {
        grid-area: gdf4;
        background-color: #e6fff5;
      }
      &__gdf5 {
        grid-area: gdf5;
        background-color: #ffe5e8;
        display: none;
      }

    &__reports {
      grid-area: reports;
      justify-content: start !important;
    }
    &__reports_2 {
      grid-area: reports_2;
      justify-content: start !important;
      display: none;
    }
    &__reports_3 {
      grid-area: reports_3;
      justify-content: start !important;
      display: none;
    }
    &__reports_4 {
      grid-area: reports_4;
      justify-content: start !important;
      display: none;
    }
    &__reports_5 {
      grid-area: reports_5;
      justify-content: start !important;
      display: none;
    }

    &__r2 {
      grid-area: r2;
    }
    &__r3 {
      grid-area: r3;
      background-color: var(--col-white);
    }
    &__r4 {
      grid-area: r4;
      background-color: #e6fff5;
    }
    &__r5 {
      grid-area: r5;
      background-color: #ffe5e8;
      display: none;
    }

    &__dashboard {
      grid-area: dashboard;
      justify-content: start !important;
    }
    &__dashboard_2 {
      grid-area: dashboard_2;
      justify-content: start !important;
      display: none;
    }
    &__dashboard_3 {
      grid-area: dashboard_3;
      justify-content: start !important;
      display: none;
    }
    &__dashboard_4 {
      grid-area: dashboard_4;
      justify-content: start !important;
      display: none;
    }
    &__dashboard_5 {
      grid-area: dashboard_5;
      justify-content: start !important;
      display: none;
    }

    &__rd2 {
      grid-area: rd2;
    }
    &__rd3 {
      grid-area: rd3;
      background-color: var(--col-white);
    }
    &__rd4 {
      grid-area: rd4;
      background-color: #e6fff5;
    }
    &__rd5 {
      grid-area: rd5;
      background-color: #ffe5e8;
      display: none;
    }

    &__user-access {
      grid-area: user-access;
      justify-content: start !important;
    }
    &__user-access_2 {
      grid-area: user-access_2;
      justify-content: start !important;
      display: none;
    }
    &__user-access_3 {
      grid-area: user-access_3;
      justify-content: start !important;
      display: none;
    }
    &__user-access_4 {
      grid-area: user-access_4;
      justify-content: start !important;
      display: none;
    }
    &__user-access_5 {
      grid-area: user-access_5;
      justify-content: start !important;
      display: none;
    }

    &__ua2 {
      grid-area: ua2;
    }
    &__ua3 {
      grid-area: ua3;
      background-color: var(--col-white);
    }
    &__ua4 {
      grid-area: ua4;
      background-color: #e6fff5;
    }
    &__ua5 {
      grid-area: ua5;
      background-color: #ffe5e8;
      display: none;
    }

    &__bank {
      grid-area: bank;
      justify-content: start !important;
    }
    &__bank_2 {
      grid-area: bank_2;
      justify-content: start !important;
      display: none;
    }
    &__bank_3 {
      grid-area: bank_3;
      justify-content: start !important;
      display: none;
    }
    &__bank_4 {
      grid-area: bank_4;
      justify-content: start !important;
      display: none;
    }
    &__bank_5 {
      grid-area: bank_5;
      justify-content: start !important;
      display: none;
    }

    &__br2 {
      grid-area: br2;
    }
    &__br3 {
      grid-area: br3;
      background-color: var(--col-white);
    }
    &__br4 {
      grid-area: br4;
      background-color: #e6fff5;
    }
    &__br5 {
      grid-area: br5;
      background-color: #ffe5e8;
      display: none;
    }

    &__manufacturing {
      grid-area: manufacturing;
      justify-content: start !important;
    }
    &__manufacturing_2 {
      grid-area: manufacturing_2;
      justify-content: start !important;
      display: none;
    }
    &__manufacturing_3 {
      grid-area: manufacturing_3;
      justify-content: start !important;
      display: none;
    }
    &__manufacturing_4 {
      grid-area: manufacturing_4;
      justify-content: start !important;
      display: none;
    }
    &__manufacturing_5 {
      grid-area: manufacturing_5;
      justify-content: start !important;
      display: none;
    }

    &__m2 {
      grid-area: m2;
    }
    &__m3 {
      grid-area: m3;
      background-color: var(--col-white);
    }
    &__m4 {
      grid-area: m4;
      background-color: #e6fff5;
    }
    &__m5 {
      grid-area: m5;
      background-color: #ffe5e8;
      display: none;
    }

    &__e-invoice {
      grid-area: e-invoice;
      justify-content: start !important;
    }
    &__e-invoice_2 {
      grid-area: e-invoice_2;
      justify-content: start !important;
      display: none;
    }
    &__e-invoice_3 {
      grid-area: e-invoice_3;
      justify-content: start !important;
      display: none;
    }
    &__e-invoice_4 {
      grid-area: e-invoice_4;
      justify-content: start !important;
      display: none;
    }
    &__e-invoice_5 {
      grid-area: e-invoice_5;
      justify-content: start !important;
      display: none;
    }

    &__ei2 {
      grid-area: ei2;
    }
    &__ei3 {
      grid-area: ei3;
      background-color: var(--col-white);
    }
    &__ei4 {
      grid-area: ei4;
      background-color: #e6fff5;
    }
    &__ei5 {
      grid-area: ei5;
      background-color: #ffe5e8;
      display: none;
    }

    &__eway-bill {
      grid-area: eway-bill;
      justify-content: start !important;
    }
    &__eway-bill_2 {
      grid-area: eway-bill_2;
      justify-content: start !important;
      display: none;
    }
    &__eway-bill_3 {
      grid-area: eway-bill_3;
      justify-content: start !important;
      display: none;
    }
    &__eway-bill_4 {
      grid-area: eway-bill_4;
      justify-content: start !important;
      display: none;
    }
    &__eway-bill_5 {
      grid-area: eway-bill_5;
      justify-content: start !important;
      display: none;
    }

    &__ewb2 {
      grid-area: ewb2;
    }
    &__ewb3 {
      grid-area: ewb3;
      background-color: var(--col-white);
    }
    &__ewb4 {
      grid-area: ewb4;
      background-color: #e6fff5;
    }
    &__ewb5 {
      grid-area: ewb5;
      background-color: #ffe5e8;
      display: none;
    }

    &__bankInt {
      grid-area: bankInt;
      justify-content: start !important;
    }
    &__bankInt_2 {
      grid-area: bankInt_2;
      justify-content: start !important;
      display: none;
    }
    &__bankInt_3 {
      grid-area: bankInt_3;
      justify-content: start !important;
      display: none;
    }
    &__bankInt_4 {
      grid-area: bankInt_4;
      justify-content: start !important;
      display: none;
    }
    &__bankInt_5 {
      grid-area: bankInt_5;
      justify-content: start !important;
      display: none;
    }

    &__ic2 {
      grid-area: ic2;
    }
    &__ic3 {
      grid-area: ic3;
      background-color: var(--col-white);
    }
    &__ic4 {
      grid-area: ic4;
      background-color: #e6fff5;
    }
    &__ic5 {
      grid-area: ic5;
      background-color: #ffe5e8;
      display: none;
    }

    &__e-commerce {
      grid-area: e-commerce;
      justify-content: start !important;
    }
    &__e-commerce_2 {
      grid-area: e-commerce_2;
      justify-content: start !important;
      display: none;
    }
    &__e-commerce_3 {
      grid-area: e-commerce_3;
      justify-content: start !important;
      display: none;
    }
    &__e-commerce_4 {
      grid-area: e-commerce_4;
      justify-content: start !important;
      display: none;
    }
    &__e-commerce_5 {
      grid-area: e-commerce_5;
      justify-content: start !important;
      display: none;
    }

    &__ecom2 {
      grid-area: ecom2;
    }
    &__ecom3 {
      grid-area: ecom3;
      background-color: var(--col-white);
    }
    &__ecom4 {
      grid-area: ecom4;
      background-color: #e6fff5;
    }
    &__ecom5 {
      grid-area: ecom5;
      background-color: #ffe5e8;
      display: none;
    }

    &__telecom {
      grid-area: telecom;
      justify-content: start !important;
    }
    &__telecom_2 {
      grid-area: telecom_2;
      justify-content: start !important;
      display: none;
    }
    &__telecom_3 {
      grid-area: telecom_3;
      justify-content: start !important;
      display: none;
    }
    &__telecom_4 {
      grid-area: telecom_4;
      justify-content: start !important;
      display: none;
    }
    &__telecom_5 {
      grid-area: telecom_5;
      justify-content: start !important;
      display: none;
    }

    &__tc2 {
      grid-area: tc2;
    }
    &__tc3 {
      grid-area: tc3;
      background-color: var(--col-white);
    }
    &__tc4 {
      grid-area: tc4;
      background-color: #e6fff5;
    }
    &__tc5 {
      grid-area: tc5;
      background-color: #ffe5e8;
      display: none;
    }

    &__warehouse {
      grid-area: warehouse;
      justify-content: start !important;
    }
    &__warehouse_2 {
      grid-area: warehouse_2;
      justify-content: start !important;
      display: none;
    }
    &__warehouse_3 {
      grid-area: warehouse_3;
      justify-content: start !important;
      display: none;
    }
    &__warehouse_4 {
      grid-area: warehouse_4;
      justify-content: start !important;
      display: none;
    }
    &__warehouse_5 {
      grid-area: warehouse_5;
      justify-content: start !important;
      display: none;
    }

    &__w2 {
      grid-area: w2;
    }
    &__w3 {
      grid-area: w3;
      background-color: var(--col-white);
    }
    &__w4 {
      grid-area: w4;
      background-color: #e6fff5;
    }
    &__w5 {
      grid-area: w5;
      background-color: #ffe5e8;
      display: none;
    }

    &__easy-import {
      grid-area: easy-import;
      justify-content: start !important;
    }
    &__easy-import_2 {
      grid-area: easy-import_2;
      justify-content: start !important;
      display: none;
    }
    &__easy-import_3 {
      grid-area: easy-import_3;
      justify-content: start !important;
      display: none;
    }
    &__easy-import_4 {
      grid-area: easy-import_4;
      justify-content: start !important;
      display: none;
    }
    &__easy-import_5 {
      grid-area: easy-import_5;
      justify-content: start !important;
      display: none;
    }

    &__imex2 {
      grid-area: imex2;
    }
    &__imex3 {
      grid-area: imex3;
      background-color: var(--col-white);
    }
    &__imex4 {
      grid-area: imex4;
      background-color: #e6fff5;
    }
    &__imex5 {
      grid-area: imex5;
      background-color: #ffe5e8;
      display: none;
    }

    &__financial {
      grid-area: financial;
      justify-content: start !important;
    }
    &__financial_2 {
      grid-area: financial_2;
      justify-content: start !important;
      display: none;
    }
    &__financial_3 {
      grid-area: financial_3;
      justify-content: start !important;
      display: none;
    }
    &__financial_4 {
      grid-area: financial_4;
      justify-content: start !important;
      display: none;
    }
    &__financial_5 {
      grid-area: financial_5;
      justify-content: start !important;
      display: none;
    }

    &__fy2 {
      grid-area: fy2;
    }
    &__fy3 {
      grid-area: fy3;
      background-color: var(--col-white);
    }
    &__fy4 {
      grid-area: fy4;
      background-color: #e6fff5;
    }
    &__fy5 {
      grid-area: fy5;
      background-color: #ffe5e8;
      display: none;
    }

    &__security {
      grid-area: security;
      justify-content: start !important;
    }
    &__security_2 {
      grid-area: security_2;
      justify-content: start !important;
      display: none;
    }
    &__security_3 {
      grid-area: security_3;
      justify-content: start !important;
      display: none;
    }
    &__security_4 {
      grid-area: security_4;
      justify-content: start !important;
      display: none;
    }
    &__security_5 {
      grid-area: security_5;
      justify-content: start !important;
      display: none;
    }

    &__s2 {
      grid-area: s2;
    }
    &__s3 {
      grid-area: s3;
      background-color: var(--col-white);
    }
    &__s4 {
      grid-area: s4;
      background-color: #e6fff5;
    }
    &__s5 {
      grid-area: s5;
      background-color: #ffe5e8;
      display: none;
    }

    &__support {
      grid-area: support;
      justify-content: start !important;
    }
    &__support_2 {
      grid-area: support_2;
      justify-content: start !important;
      display: none;
    }
    &__support_3 {
      grid-area: support_3;
      justify-content: start !important;
      display: none;
    }
    &__support_4 {
      grid-area: support_4;
      justify-content: start !important;
      display: none;
    }
    &__support_5 {
      grid-area: support_5;
      justify-content: start !important;
      display: none;
    }

    &__sp2 {
      grid-area: sp2;
    }
    &__sp3 {
      grid-area: sp3;
      background-color: var(--col-white);
    }
    &__sp4 {
      grid-area: sp4;
      background-color: #e6fff5;
    }
    &__sp5 {
      grid-area: sp5;
      background-color: #ffe5e8;
      display: none;
    }

    &__journal-entry {
      grid-area: journal-entry;
      justify-content: start !important;
    }
    &__journal-entry_2 {
      grid-area: journal-entry_2;
      justify-content: start !important;
      display: none;
    }
    &__journal-entry_3 {
      grid-area: journal-entry_3;
      justify-content: start !important;
      display: none;
    }
    &__journal-entry_4 {
      grid-area: journal-entry_4;
      justify-content: start !important;
      display: none;
    }
    &__journal-entry_5 {
      grid-area: journal-entry_5;
      justify-content: start !important;
      display: none;
    }

    &__je2 {
      grid-area: je2;
    }
    &__je3 {
      grid-area: je3;
      background-color: var(--col-white);
    }
    &__je4 {
      grid-area: je4;
      background-color: #e6fff5;
    }
    &__je5 {
      grid-area: je5;
      background-color: #ffe5e8;
      display: none;
    }

    &__link_all_feature {
      grid-area: link_all_feature;
      place-self: start start;
      width: 100%;
    }
    &__extra_charges {
      grid-area: extra_charges;
      place-self: start end;
      width: 100%;
      text-align: end;
      p {
        background-color: #edf3ff;
        width: fit-content;
        padding: 6px 8px;
        margin-left: auto;
        margin-bottom: 0;
        word-spacing: 1px;
      }
    }

    .pricing__heading {
      padding: 12px;
      &__name {
        font-size: 14px;
        font-weight: 600;
      }
      &__cost {
        font-size: 22px;
        font-weight: 700;
        span {
          font-size: 12px;
          font-weight: 400;
        }
        s {
          font-size: 14px;
          color: var(--col-grey);
        }
      }
      &__period {
        position: relative;
        font-size: 12px;
        font-weight: var(--c-fw-400);
      }
    }
    svg {
      font-size: 24px;
    }
  }
  .pricing-border-top {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #dee2e6;
    height: 100%;
  }
  .font-46 {
    font-size: 46px;
  }
}

@media (max-width: 1199px) {
  .pricing_main_section {
    &__grid {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 1000px;
      &.display-four {
        grid-template-columns: auto 160px 160px 160px;
      }
      &.display-uk {
        grid-template-columns: auto 160px 160px 160px;
      }
      &.global {
        grid-template-columns: auto 160px 160px 160px;
      }
      &.display-all {
        grid-template-columns: auto 160px 160px 160px 160px;
      }
    }
  }
}
@media (max-width: 991px) {
  .pricing_main_section {
    .benefits-link {
      width: 100%;
      background-color: #494d50;
      max-width: 160px;
    }

    &__grid {
      max-width: 720px;
      align-items: center;
      &.display-four {
        grid-auto-rows: minmax(50px, auto);
        grid-template-rows: minmax(350px, auto) 60px auto minmax(60px, auto);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          "title title"
          "logo logo"
          "birch birch"
          "b2 b2"
          "invoice_count_2 inc2"
          "bill_count_2 bc2"
          "companies_2 c2"
          "accountant_consultant_2 ac2"
          "desktop_mobile_app_2 d2"
          "user-access_2 ua2"
          "security_2 s2"
          "customers_vendors_2 cv2"
          "invoicing_2 in2"
          "record-bills_2 rb2"
          "managing-inventory_2 mi2"
          "journal-entry_2 je2"
          "multi-currency_2 mc2"
          "gst_2 g2"
          "reports_2 r2"
          "dashboard_2 rd2"
          "bank_2 br2"
          "manufacturing_2 m2"
          "bankInt_2 ic2"
          "e-commerce_2 ecom2"
          "telecom_2 tc2"
          "warehouse_2 w2"
          "easy-import_2 imex2"
          "financial_2 fy2"
          "support_2 sp2"
          "oak oak"
          "b3 b3"
          "invoice_count_3 inc3"
          "bill_count_3 bc3"
          "companies_3 c3"
          "accountant_consultant_3 ac3"
          "desktop_mobile_app_3 d3"
          "user-access_3 ua3"
          "security_3 s3"
          "customers_vendors_3 cv3"
          "invoicing_3 in3"
          "record-bills_3 rb3"
          "managing-inventory_3 mi3"
          "journal-entry_3 je3"
          "multi-currency_3 mc3"
          "gst_3 g3"
          "reports_3 r3"
          "dashboard_3 rd3"
          "bank_3 br3"
          "manufacturing_3 m3"
          "bankInt_3 ic3"
          "e-commerce_3 ecom3"
          "telecom_3 tc3"
          "warehouse_3 w3"
          "easy-import_3 imex3"
          "financial_3 fy3"
          "support_3 sp3"
          "vine vine"
          "b4 b4"
          "invoice_count_4 inc4"
          "bill_count_4 bc4"
          "companies_4 c4"
          "accountant_consultant_4 ac4"
          "desktop_mobile_app_4 d4"
          "user-access_4 ua4"
          "security_4 s4"
          "customers_vendors_4 cv4"
          "invoicing_4 in4"
          "record-bills_4 rb4"
          "managing-inventory_4 mi4"
          "journal-entry_4 je4"
          "multi-currency_4 mc4"
          "gst_4 g4"
          "reports_4 r4"
          "dashboard_4 rd4"
          "bank_4 br4"
          "manufacturing_4 m4"
          "bankInt_4 ic4"
          "e-commerce_4 ecom4"
          "telecom_4 tc4"
          "warehouse_4 w4"
          "easy-import_4 imex4"
          "financial_4 fy4"
          "support_4 sp4"
          "link_all_feature link_all_feature"
          "extra_charges extra_charges";
      }
      &.display-uk {
        grid-auto-rows: minmax(50px, auto);
        grid-template-rows: minmax(350px, auto) 60px auto minmax(60px, auto);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "title title"
        "logo logo"
        "birch birch"
        "b2 b2"
        "invoice_count_2 inc2"
        "bill_count_2 bc2"
        "companies_2 c2"
        "accountant_consultant_2 ac2"
        "desktop_mobile_app_2 d2"
        "user-access_2 ua2"
        "security_2 s2"
        "customers_vendors_2 cv2"
        "invoicing_2 in2"
        "record-bills_2 rb2"
        "managing-inventory_2 mi2"
        "journal-entry_2 je2"
        "multi-currency_2 mc2"
        "gst_2 g2"
        "reports_2 r2"
        "dashboard_2 rd2"
        "bank_2 br2"
        "manufacturing_2 m2"
        "bankInt_2 ic2"
        "e-commerce_2 ecom2"
        "telecom_2 tc2"
        "warehouse_2 w2"
        "easy-import_2 imex2"
        "financial_2 fy2"
        "support_2 sp2"
        "oak oak" 
        "b3 b3"
        "invoice_count_3 inc3"
        "bill_count_3 bc3"
        "companies_3 c3"
        "accountant_consultant_3 ac3"
        "desktop_mobile_app_3 d3"
        "user-access_3 ua3"
        "security_3 s3"
        "customers_vendors_3 cv3"
        "invoicing_3 in3"
        "record-bills_3 rb3"
        "managing-inventory_3 mi3"
        "journal-entry_3 je3"
        "multi-currency_3 mc3"
        "gst_3 g3"
        "reports_3 r3"
        "dashboard_3 rd3"
        "bank_3 br3"
        "manufacturing_3 m3"
        "bankInt_3 ic3"
        "e-commerce_3 ecom3"
        "telecom_3 tc3"
        "warehouse_3 w3"
        "easy-import_3 imex3"
        "financial_3 fy3"
        "support_3 sp3"
        "vine vine"
        "b4 b4"
        "invoice_count_4 inc4"
        "bill_count_4 bc4"
        "companies_4 c4"
        "accountant_consultant_4 ac4"
        "desktop_mobile_app_4 d4"
        "user-access_4 ua4"
        "security_4 s4"
        "customers_vendors_4 cv4"
        "invoicing_4 in4"
        "record-bills_4 rb4"
        "managing-inventory_4 mi4"
        "journal-entry_4 je4"
        "multi-currency_4 mc4"
        "gst_4 g4"
        "reports_4 r4"
        "dashboard_4 rd4"
        "bank_4 br4"
        "manufacturing_4 m4"
        "bankInt_4 ic4"
        "e-commerce_4 ecom4"
        "telecom_4 tc4"
        "warehouse_4 w4"
        "easy-import_4 imex4"
        "financial_4 fy4"
        "support_4 sp4"
        "sequoia sequoia"
        "b5 b5"
        "invoice_count_5 inc5"
        "bill_count_5 bc5"
        "companies_5 c5"
        "accountant_consultant_5 ac5"
        "desktop_mobile_app_5 d5"
        "user-access_5 ua5"
        "security_5 s5"
        "customers_vendors_5 cv5"
        "invoicing_5 in5"
        "record-bills_5 rb5"
        "managing-inventory_5 mi5"
        "journal-entry_5 je5"
        "multi-currency_5 mc5"
        "gst_5 g5"
        "reports_5 r5"
        "dashboard_5 rd5"
        "bank_5 br5"
        "manufacturing_5 m5"
        "bankInt_5 ic5"
        "e-commerce_5 ecom5"
        "telecom_5 tc5"
        "warehouse_5 w5"
        "easy-import_5 imex5"
        "financial_5 fy5"
        "support_5 sp5"
        "link_all_feature link_all_feature"
        "extra_charges extra_charges";
      }
      &.global {
        grid-auto-rows: minmax(50px, auto);
        grid-template-rows: minmax(350px, auto) 60px auto minmax(60px, auto);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          "title title"
          "logo logo"
          "birch birch"
          "b2 b2"
          "invoice_count_2 inc2"
          "bill_count_2 bc2"
          "companies_2 c2"
          "accountant_consultant_2 ac2"
          "desktop_mobile_app_2 d2"
          "user-access_2 ua2"
          "security_2 s2"
          "customers_vendors_2 cv2"
          "invoicing_2 in2"
          "record-bills_2 rb2"
          "managing-inventory_2 mi2"
          "journal-entry_2 je2"
          "multi-currency_2 mc2"
          "reports_2 r2"
          "dashboard_2 rd2"
          "bank_2 br2"
          "manufacturing_2 m2"
          "bankInt_2 ic2"
          "e-commerce_2 ecom2"
          "telecom_2 tc2"
          "warehouse_2 w2"
          "easy-import_2 imex2"
          "financial_2 fy2"
          "support_2 sp2"
          "oak oak"
          "b3 b3"
          "invoice_count_3 inc3"
          "bill_count_3 bc3"
          "companies_3 c3"
          "accountant_consultant_3 ac3"
          "desktop_mobile_app_3 d3"
          "user-access_3 ua3"
          "security_3 s3"
          "customers_vendors_3 cv3"
          "invoicing_3 in3"
          "record-bills_3 rb3"
          "managing-inventory_3 mi3"
          "journal-entry_3 je3"
          "multi-currency_3 mc3"
          "reports_3 r3"
          "dashboard_3 rd3"
          "bank_3 br3"
          "manufacturing_3 m3"
          "bankInt_3 ic3"
          "e-commerce_3 ecom3"
          "telecom_3 tc3"
          "warehouse_3 w3"
          "easy-import_3 imex3"
          "financial_3 fy3"
          "support_3 sp3"
          "vine vine"
          "b4 b4"
          "invoice_count_4 inc4"
          "bill_count_4 bc4"
          "companies_4 c4"
          "accountant_consultant_4 ac4"
          "desktop_mobile_app_4 d4"
          "user-access_4 ua4"
          "security_4 s4"
          "customers_vendors_4 cv4"
          "invoicing_4 in4"
          "record-bills_4 rb4"
          "managing-inventory_4 mi4"
          "journal-entry_4 je4"
          "multi-currency_4 mc4"
          "reports_4 r4"
          "dashboard_4 rd4"
          "bank_4 br4"
          "manufacturing_4 m4"
          "bankInt_4 ic4"
          "e-commerce_4 ecom4"
          "telecom_4 tc4"
          "warehouse_4 w4"
          "easy-import_4 imex4"
          "financial_4 fy4"
          "support_4 sp4"
          "link_all_feature link_all_feature"
          "extra_charges extra_charges";
      }
      &.display-all {
        grid-auto-rows: minmax(50px, auto);
        grid-template-rows:
          minmax(350px, auto) 100px 60px auto minmax(60px, auto);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          "title title"
          "gst-exclusive gst-exclusive"
          "logo logo"
          "birch birch"
          "b2 b2"
          "invoice_count_2 inc2"
          "bill_count_2 bc2"
          "companies_2 c2"
          "accountant_consultant_2 ac2"
          "desktop_mobile_app_2 d2"
          "user-access_2 ua2"
          "security_2 s2"
          "customers_vendors_2 cv2"
          "invoicing_2 in2"
          "record-bills_2 rb2"
          "managing-inventory_2 mi2"
          "journal-entry_2 je2"
          "multi-currency_2 mc2"
          "gst_2 g2"
          "gst-direct_2 gdf2"
          "reports_2 r2"
          "dashboard_2 rd2"
          "bank_2 br2"
          "manufacturing_2 m2"
          "e-invoice_2 ei2"
          "eway-bill_2 ewb2"
          "e-commerce_2 ecom2"
          "telecom_2 tc2"
          "warehouse_2 w2"
          "easy-import_2 imex2"
          "financial_2 fy2"
          "support_2 sp2"
          "oak oak"
          "b3 b3"
          "invoice_count_3 inc3"
          "bill_count_3 bc3"
          "companies_3 c3"
          "accountant_consultant_3 ac3"
          "desktop_mobile_app_3 d3"
          "user-access_3 ua3"
          "security_3 s3"
          "customers_vendors_3 cv3"
          "invoicing_3 in3"
          "record-bills_3 rb3"
          "managing-inventory_3 mi3"
          "journal-entry_3 je3"
          "multi-currency_3 mc3"
          "gst_3 g3"
          "gst-direct_3 gdf3"
          "reports_3 r3"
          "dashboard_3 rd3"
          "bank_3 br3"
          "manufacturing_3 m3"
          "e-invoice_3 ei3"
          "eway-bill_3 ewb3"
          "e-commerce_3 ecom3"
          "telecom_3 tc3"
          "warehouse_3 w3"
          "easy-import_3 imex3"
          "financial_3 fy3"
          "support_3 sp3"
          "vine vine"
          "b4 b4"
          "invoice_count_4 inc4"
          "bill_count_4 bc4"
          "companies_4 c4"
          "accountant_consultant_4 ac4"
          "desktop_mobile_app_4 d4"
          "user-access_4 ua4"
          "security_4 s4"
          "customers_vendors_4 cv4"
          "invoicing_4 in4"
          "record-bills_4 rb4"
          "managing-inventory_4 mi4"
          "journal-entry_4 je4"
          "multi-currency_4 mc4"
          "gst_4 g4"
          "gst-direct_4 gdf4"
          "reports_4 r4"
          "dashboard_4 rd4"
          "bank_4 br4"
          "manufacturing_4 m4"
          "e-invoice_4 ei4"
          "eway-bill_4 ewb4"
          "e-commerce_4 ecom4"
          "telecom_4 tc4"
          "warehouse_4 w4"
          "easy-import_4 imex4"
          "financial_4 fy4"
          "support_4 sp4"
          "sequoia sequoia"
          "b5 b5"
          "invoice_count_5 inc5"
          "bill_count_5 bc5"
          "companies_5 c5"
          "accountant_consultant_5 ac5"
          "desktop_mobile_app_5 d5"
          "user-access_5 ua5"
          "security_5 s5"
          "customers_vendors_5 cv5"
          "invoicing_5 in5"
          "record-bills_5 rb5"
          "managing-inventory_5 mi5"
          "journal-entry_5 je5"
          "multi-currency_5 mc5"
          "gst_5 g5"
          "gst-direct_5 gdf5"
          "reports_5 r5"
          "dashboard_5 rd5"
          "bank_5 br5"
          "manufacturing_5 m5"
          "e-invoice_5 ei5"
          "eway-bill_5 ewb5"
          "e-commerce_5 ecom5"
          "telecom_5 tc5"
          "warehouse_5 w5"
          "easy-import_5 imex5"
          "financial_5 fy5"
          "support_5 sp5"
          "link_all_feature link_all_feature"
          "extra_charges extra_charges";
      }

      &__benefits {
        display: none;
      }
      &__title {
        margin-bottom: 0;
      }

      &__all-prices-message,
      &__link_all_feature,
      &__extra_charges {
        text-align: center;
      }
      &__bill_count,
      &__invoice_count,
      &__companies,
      &__accountant_consultant,
      &__customers_vendors,
      &__desktop_mobile_app,
      &__invoicing,
      &__record-bills,
      &__managing-inventory,
      &__multi-currency,
      &__gst,
      &__gst-direct,
      &__reports,
      &__dashboard,
      &__user-access,
      &__bank,
      &__manufacturing,
      &__e-invoice,
      &__eway-bill,
      &__bankInt,
      &__e-commerce,
      &__telecom,
      &__warehouse,
      &__easy-import,
      &__financial,
      &__security,
      &__support,
      &__journal-entry {
        display: none !important;
      }
      &__bill_count_2,
      &__bill_count_3,
      &__bill_count_4,
      &__bill_count_5 {
        display: flex;
        align-items: center;
        height: 100%;
      }
      &__invoice_count_2,
      &__invoice_count_3,
      &__invoice_count_4,
      &__invoice_count_5 {
        display: flex;
        align-items: center;
        height: 100%;
      }
      &__companies_2,
      &__companies_3,
      &__companies_4,
      &__companies_5,
      &__accountant_consultant_2,
      &__accountant_consultant_3,
      &__accountant_consultant_4,
      &__accountant_consultant_5,
      &__customers_vendors_2,
      &__customers_vendors_3,
      &__customers_vendors_4,
      &__customers_vendors_5,
      &__desktop_mobile_app_2,
      &__desktop_mobile_app_3,
      &__desktop_mobile_app_4,
      &__desktop_mobile_app_5,
      &__invoicing_2,
      &__invoicing_3,
      &__invoicing_4,
      &__invoicing_5,
      &__record-bills_2,
      &__record-bills_3,
      &__record-bills_4,
      &__record-bills_5,
      &__managing-inventory_2,
      &__managing-inventory_3,
      &__managing-inventory_4,
      &__managing-inventory_5,
      &__multi-currency_2,
      &__multi-currency_3,
      &__multi-currency_4,
      &__multi-currency_5,
      &__gst_2,
      &__gst_3,
      &__gst_4,
      &__gst_5,
      &__gst-direct_2,
      &__gst-direct_3,
      &__gst-direct_4,
      &__gst-direct_5,
      &__reports_2,
      &__reports_3,
      &__reports_4,
      &__reports_5,
      &__dashboard_2,
      &__dashboard_3,
      &__dashboard_4,
      &__dashboard_5,
      &__user-access_2,
      &__user-access_3,
      &__user-access_4,
      &__user-access_5,
      &__bank_2,
      &__bank_3,
      &__bank_4,
      &__bank_5,
      &__manufacturing_2,
      &__manufacturing_3,
      &__manufacturing_4,
      &__manufacturing_5,
      &__e-invoice_2,
      &__e-invoice_3,
      &__e-invoice_4,
      &__e-invoice_5,
      &__eway-bill_2,
      &__eway-bill_3,
      &__eway-bill_4,
      &__eway-bill_5,
      &__bankInt_2,
      &__bankInt_3,
      &__bankInt_4,
      &__bankInt_5,
      &__e-commerce_2,
      &__e-commerce_3,
      &__e-commerce_4,
      &__e-commerce_5,
      &__telecom_2,
      &__telecom_3,
      &__telecom_4,
      &__telecom_5,
      &__warehouse_2,
      &__warehouse_3,
      &__warehouse_4,
      &__warehouse_5,
      &__easy-import_2,
      &__easy-import_3,
      &__easy-import_4,
      &__easy-import_5,
      &__financial_2,
      &__financial_3,
      &__financial_4,
      &__financial_5,
      &__security_2,
      &__security_3,
      &__security_4,
      &__security_5,
      &__support_2,
      &__support_3,
      &__support_4,
      &__support_5,
      &__journal-entry_2,
      &__journal-entry_3,
      &__journal-entry_4,
      &__journal-entry_5 {
        display: flex;
        align-items: center;
        height: 100%;
        border-top: 1px solid #dee2e6;
      }
      &__birch,
      &__oak,
      &__vine,
      &__sequoia,
      &__b2,
      &__b3,
      &__b4,
      &__b5 {
        background-color: inherit;
      }
      &__bc2,
      &__bc3,
      &__bc4,
      &__bc5,
      &__inc2,
      &__inc3,
      &__inc4,
      &__inc5,
      &__c2,
      &__c3,
      &__c4,
      &__c5,
      &__ac2,
      &__ac3,
      &__ac4,
      &__ac5,
      &__cv2,
      &__cv3,
      &__cv4,
      &__cv5,
      &__d2,
      &__d3,
      &__d4,
      &__d5,
      &__in2,
      &__in3,
      &__in4,
      &__in5,
      &__rb2,
      &__rb3,
      &__rb4,
      &__rb5,
      &__mi2,
      &__mi3,
      &__mi4,
      &__mi5,
      &__mc2,
      &__mc3,
      &__mc4,
      &__mc5,
      &__g2,
      &__g3,
      &__g4,
      &__g5,
      &__gdf2,
      &__gdf3,
      &__gdf4,
      &__gdf5,
      &__r2,
      &__r3,
      &__r4,
      &__r5,
      &__rd2,
      &__rd3,
      &__rd4,
      &__rd5,
      &__ua2,
      &__ua3,
      &__ua4,
      &__ua5,
      &__br2,
      &__br3,
      &__br4,
      &__br5,
      &__m2,
      &__m3,
      &__m4,
      &__m5,
      &__ei2,
      &__ei3,
      &__ei4,
      &__ei5,
      &__ewb2,
      &__ewb3,
      &__ewb4,
      &__ewb5,
      &__ic2,
      &__ic3,
      &__ic4,
      &__ic5,
      &__ecom2,
      &__ecom3,
      &__ecom4,
      &__ecom5,
      &__tc2,
      &__tc3,
      &__tc4,
      &__tc5,
      &__w2,
      &__w3,
      &__w4,
      &__w5,
      &__imex2,
      &__imex3,
      &__imex4,
      &__imex5,
      &__fy2,
      &__fy3,
      &__fy4,
      &__fy5,
      &__s2,
      &__s3,
      &__s4,
      &__s5,
      &__sp2,
      &__sp3,
      &__sp4,
      &__sp5,
      &__je2,
      &__je3,
      &__je4,
      &__je5 {
        background-color: var(--col-white);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__link_all_feature {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__oak {
        .plan_tag {
          top: unset;
          bottom: -125px;
        }
      }
      &__guarantee_logo {
        text-align: center;
        margin-bottom: 1rem;
      }
      &__extra_charges {
        p {
          width: auto;
          margin: 0 auto;
        }
      }
    }
  }

  .pricing_support_section {
    .col-sm-12 {
      text-align: center;
      &.text-end {
        text-align: center !important;
      }
    }
    a {
      margin-top: 1rem;
      margin-left: 0 !important;
      text-align: center;
    }
  }
}

.pricing_grid_section {
  background-color: #e6e7e9;
  margin: 2rem 0;
  padding: 5rem 0 4rem;

  &__card {
    text-align: center;
    figure {
      img {
        height: auto;
        width: 100px;
        max-height: 100px;
      }
      figcaption {
        margin-top: 1.5rem;
        font-weight: var(--c-fw-600);
        font-size: var(--c-fs-4);
        color: var(--col-primary);
      }
    }
  }
}
.pricing_support_section {
  padding: 3rem 0;
  background-color: var(--col-primary);
  a {
    display: inline-block;
    font-size: var(--c-fs-3);
    font-weight: var(--c-fw-600);
    padding: 0 40px;
    border-radius: 50px;
    color: var(--col-primary);
    background-color: var(--col-white);
    height: fit-content;
    margin-left: 1.5rem;
  }
}

.pricing_start_trail_section {
  background-color: #fafafa;
  padding: 5rem 0;
  margin-top: 2.5rem;

  a {
    display: inline-block;
    background: var(--col-blue);
    color: var(--col-white);
    font-size: var(--c-fs-4);
    border-radius: 6px;
    padding: 9px 17px;
    margin-top: 36px !important;

    &:hover {
      background-color: var(--col-primary);
    }
  }
}

.readmore_section {
  padding: 1.5rem 15px !important;
  .pricing_description {
    max-width: 1000px;
    margin: 0 auto;

    a {
      text-decoration: underline !important;
      color: var(--col-dark);
    }
  }
}
