.security {
    background-color: #28283C;
    padding-bottom: 33px;
    &__text {
        padding: 200px 0 80px;

        p {
            line-height: 44px;
            font-size: clamp(var(--c-fs-5), 2.4vw,var(--c-fs-3));
        }
    }

    &__text{
        max-width: 1200px;
        p{
            font-size: var(--c-fs-4);
        }
    }
}