.trust-badge-logo-container-item {
  padding: 25px 50px;
}

.trust-badge-vertical-center {
  height: inherit;

  img {
    &.trust-badge-news-logo {
      max-width: 100px;
      max-height: 66px;
      min-width: 50px;
      min-height: 14px;
      margin: 7px 10px;
    }
  }
}

.trust-badge-title {
  &:before,
  &:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #d8d8d8;
    margin: auto;
    width: 27%;
    display: block;
    position: relative;
  }

  &:before {
    margin-left: 30px;
    top: 12px;
  }

  &:after {
    margin-right: 30px;
    top: -13px;
  }
}
.trust-badge-leaf {
  z-index: 0;
  opacity: 0.2;
  height: 110px;
}

@media screen and (min-width: 585px) {
  .trust-badge-logo-container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 584px) {
  .trust-badge-news-logo {
    max-width: 70px !important;
  }

  .trust-badge-title {
    font-size: var(--c-fs-5, 16px);
    top: -5px;
    letter-spacing: 6px;
    z-index: 1;
    padding: 0 20px;
    color: #0e0e0e;

    &:before,
    &:after {
      border-bottom: none !important;
    }
  }

  .trust-badge-leaf {
    display: none !important;
  }
}

@media screen and (max-width: 340px) {
  .trust-badge-title-hr {
    display: none !important;
  }

  .trust-badge-title {
    font-size: 14px;
    padding: 0 !important;
  }

  .trust-badge-footer {
    font-size: 11px !important;
    margin: 20px 0 25px 0 !important;
    letter-spacing: 2px !important;
  }

  .trust-badge-news-logo {
    max-width: 50px !important;
  }
}

.trust-badge-logo-container {
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.trust-badge-newslogos {
  display: inline-block;
  position: relative;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.tf-v1-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 0.25s ease-in-out;
  z-index: 10001;

  .tf-v1-iframe-wrapper {
    max-width: calc(100vw - 26px);
    height: 100%;
    position: absolute;
    top: 0;
    transition: right 0.5s ease-in-out, left 0.5s ease-in-out;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
      overflow: hidden;
      border-radius: 0;

      @media (min-width: 481px) {
        border-radius: 8px 0 0 8px;
      }
    }
  }

  .tf-v1-close {
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 32px;
    font-weight: normal;
    line-height: 24px;
    width: 24px;
    height: 24px;
    text-align: center;
    text-transform: none;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.25s ease-in-out;
    text-decoration: none;
    color: #000;
    top: 6px;
    right: 8px;
    background: none;
    border: none;
    border-radius: 0;

    &:hover {
      opacity: 1;
    }

    @media (min-width: 481px) {
      color: #fff !important;

      &:hover {
        opacity: 1;
      }

      top: 4px;
      left: -26px;
    }

    @media (max-width: 480px) {
      left: auto;
    }
  }

  .tf-v1-spinner {
    border: 3px solid #aaa;
    font-size: 40px;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    box-sizing: border-box;
    animation: spin 1s linear infinite;
    border-top-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
  }

  @media (min-width: 481px) {
    &.left {
      .tf-v1-iframe-wrapper iframe {
        border-radius: 0 8px 8px 0;
      }

      .tf-v1-close {
        left: auto;
        right: -24px;
      }
    }
  }

  @media (max-width: 480px) {
    width: 100% !important;
    height: 100% !important;

    .tf-v1-iframe-wrapper {
      width: 100% !important;
      max-width: 100vw;
      height: 100%;
      transition: unset;

      iframe {
        border-radius: none;
      }
    }

    .tf-v1-close {
      display: block;
      padding: 0;
      margin: 0;
      position: absolute;
      font-size: 32px;
      font-weight: normal;
      line-height: 24px;
      width: 24px;
      height: 24px;
      text-align: center;
      text-transform: none;
      cursor: pointer;
      opacity: 0.75;
      transition: opacity 0.25s ease-in-out;
      text-decoration: none;
      color: #000;
      top: 6px;
      right: 8px;
      background: none;
      border: none;
      border-radius: 0;
      left: auto;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 480px) and (min-width: 481px) {
  .tf-v1-slider .tf-v1-close {
    color: #fff !important;
  }
}
