.affiliate-img {
       width: 90px;
       height: 99px;
       object-fit: contain;
}

.btn-start {
       background: var(--col-primary) !important;
       color: white;
}

.Resources {
       background-color: #eae7e7 !important;

       &-img {
              width: clamp(450px, 20vh, 550px);
              @media only screen and (max-width:768px) {
                     width: clamp(200px, 20vh, 500px);
              }
              @media only screen and (max-width:992px) {
                     width: clamp(350px, 20vh, 400px);
              }


       }
}