.gst-image {
    width: 50vh;
}

@media screen and (min-width: 480px) {
    #leftsidebar {
        width: 200px;
        float: left;
    }

    #main {
        margin-left: 216px;
    }
}

.filing-gstr-card {
    img {
        height: 90px;
        width: 151px;
    }
}

.filing-gstr {
    background-color: #f7f7f7;


}

.gst-hero-container {
    height: 100vh;
}


.gst-image {
    width: 50vh;
}

@media screen and (min-width: 480px) {
    #leftsidebar {
        width: 200px;
        float: left;
    }

    #main {
        margin-left: 216px;
    }
}

.filing-gstr {
    img {
        height: 90px;
        width: 151px;
    }

}

.gst-image {
    margin-top: 46px;
    margin-bottom: 46px;
    margin-right: 60px;
}

.gst-features {
    .gst-feature-container {
        &__img {
            width: clamp(300px, 45vh, 500px);

            //breakpoints variables did not work  
            @media only screen and (max-width:768px) {
                width: clamp(200px, 40vh, 300px);
            }
        }
    }
}

.gst-return {
    .gst-return-coll {
        &__img1 {
            width: clamp(300px, 50vh, 400px);

            @media screen and (max-width:768px) {
                width: clamp(200px, 40vh, 300px);
            }
        }

        &__img2 {
            width: clamp(400px, 40vh, 500px);

            @media screen and (max-width:768px) {
                width: clamp(200px, 30vh, 250px);
            }



        }
    }
}