.hadding-color {
    color: #000074;
    font-size: 37px;
}

.gst-hading{
    color: var(--col-primary);
    font-size: 24px;
}

.gst-image {
    width: 50vh;
}

@media screen and (min-width: 480px) {
    #leftsidebar {
        width: 200px;
        float: left;
    }

    #main {
        margin-left: 216px;
    }
}

.filing-gstr {
    img {
        height: 90px;
        width: 151px;
    }

}

.hadding-color {
    color: #000074;
    font-size: 37px;
}

.gst-hading {
    color: var(--col-primary);
    font-size: 24px;
}

.gst-image {
    width: 50vh;
}

@media screen and (min-width: 480px) {
    #leftsidebar {
        width: 200px;
        float: left;
    }

    #main {
        margin-left: 216px;
    }
}

.filing-gstr {
    img {
        height: 90px;
        width: 151px;
    }

}

.caption {}