// Navbar SCSS Code
.navbar {
  padding-left: 15px !important;
  padding-right: 15px !important;
  .giddh-logo-svg {
    fill: var(--white);
  }
  .website-globe-icon {
    .a {
      fill: var(--white);
    }
    .b,
    .d {
      fill: none;
    }
    .b {
      stroke: var(--white);
    }
    .c {
      stroke: none;
    }
  }
  .navbar-toggler {
    box-shadow: none !important;
    .hamberger_icon {
      stroke: var(--white);
    }
  }
  .navbar-nav {
    margin-right: 5%;
    .nav-item {
      .nav-link {
        color: var(--white);
        padding: 7px 14px;
        &:hover {
          color: var(--blue);
        }
        &.active {
          color: var(--blue);
        }
      }
      &:hover {
        .dropdown-menu {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          display: block !important;
          margin-top: 0;
          border-top: 4px solid var(--purple);
          padding: 10px 15px;

          &--position-left {
            transform: translateX(-130px);
          }

          &__wapper {
            li {
              ul {
                li {
                  a {
                    display: inline-block;
                    padding: 6px 5px;
                    min-width: 200px;
                    color: var(--dark);
                    transition: all 200ms;
                    &:hover {
                      color: var(--purple);
                    }
                  }
                }
              }
            }
          }
          li {
            & > a {
              display: inline-block;
              padding: 6px 5px;
              width: max-content;
              color: var(--dark);
              transition: all 200ms;
              &:hover {
                color: var(--purple);
              }
            }
          }
        }
      }
    }
  }

  .login_page_link {
    padding: 3px 20px;
    margin-left: 30px;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 20px;
    display: inline-block;
    transition: all 600ms ease;
    &:hover {
      background-color: var(--white);
      color: var(--indigo);
    }
  }
  .signup_page_link {
    padding: 3px 20px;
    margin-left: 15px;
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 20px;
    display: inline-block;
  }

  &--theme-white {
    .giddh-logo-svg {
      fill: var(--indigo);
    }
    .website-globe-icon {
      .a {
        fill: var(--indigo);
      }
      .b,
      .d {
        fill: none;
      }
      .b {
        stroke: var(--indigo);
      }
      .c {
        stroke: none;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: var(--dark);
        }
      }
    }
    .login_page_link {
      background-color: var(--white);
      color: var(--indigo);
      border: 1px solid var(--indigo);
    }
  }
}

// Media Query
@media (max-width: 1199px) {
  .navbar-nav {
    margin-right: 0 !important;
    .nav-item {
      .nav-link {
        padding: 7px 12px !important;
      }
    }
  }
  .login_page_link {
    margin-left: 15px !important;
  }
}

@media (max-width: 991px) {
  .navbar {
    background-color: var(--indigo) !important;
    padding: 8px 0 !important;

    &--navbar_brand {
      svg {
        width: 100px !important;
      }
    }
    .navbar-nav {
      margin-right: 0 !important;
      .nav-item {
        .nav-link {
          padding-left: 0 !important;
          font-size: 14px !important;
        }
        &:hover {
          .dropdown-menu {
            background: transparent;
            border: 0 !important;
            box-shadow: none !important;
            padding: 10px 15px;

            &--position-left {
              transform: unset !important;
            }

            &__wapper {
              li {
                ul {
                  li {
                    a {
                      font-size: 12px;
                      min-width: 150px;
                      color: var(--white);
                      &:hover {
                        color: var(--purple);
                      }
                    }
                  }
                }
              }
            }
            li {
              & > a {
                font-size: 12px;
                color: var(--white);
                &:hover {
                  color: var(--purple);
                }
              }
            }
          }
        }
      }
    }
    .nav_right {
      padding-bottom: 1.5rem;
    }
  }
}
