::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: var(--col-primary);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  width: 8px;
}

@media (max-width: 991px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

::selection {
  background-color: var(--col-primary);
  color: var(--col-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none !important;
  &:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }
}
.form-control,
.form-select {
  border: none;

  &:focus {
    border-color: unset !important;
    box-shadow: unset !important;
  }
}
// Reset Max Width  of Bootrap Container
.container {
  max-width: 1140px !important;
}

// Calendly width Reset
.calendly-overlay {
  .calendly-popup {
    width: 100% !important;
    max-width: 100% !important;
  }
}

img{
  user-select: none;
}

// Trust pilot 
.trustpilot-widget {
  .video-placeholder-normal {
    display: none !important;
  }
  & > iframe {
    transform: translateY(8px);
  }
}