@font-face {
    font-family: 'Opel Sans';
    src: url(/fonts/OpelSans-Bold.ttf) 'truetype';
}



// font size

.heading{
    font-size: var(--heading);
}
.sub-heading{
    font-size: var(--sub-heading);
}
.small-heading{
    font-size: var(--small-heading);
}
.c-fs-1{
    font-size: var(--c-fs-1);
}
.c-fs-2{
    font-size: var(--c-fs-2);
}
.c-fs-3{
    font-size: var(--c-fs-3);
}
.c-fs-4{
    font-size: var(--c-fs-4);
}
.c-fs-5{
    font-size: var(--c-fs-5);
}


//font weight

.c-fw-b{

}