//============================== ====FONT FAMILY=======================================

@font-face {
  font-family: "Opel Sans";
  font-display: swap;
  src: url("../../public/fonts/OpelSans-Regular.ttf");
  src: url("../../public/fonts/OpelSans-Regular.ttf") format("truetype"),
    url("../../public/fonts/OpelSans-Regular.woff") format("woff");
  font-style: 400;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Opel Sans";
  font-display: swap;
  src: url("../../public/fonts/OpelSans-Bold.ttf");
  src: url("../../public/fonts/OpelSans-Bold.ttf") format("truetype"),
       url("../../public/fonts/OpelSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Outfit:wght@100..900&display=swap');

//====================================FONT SIZE========================================

.heading {
  font-size: var(--heading);
}
.sub-heading {
  font-size: var(--sub-heading);
}
.small-heading {
  font-size: var(--small-heading);
}
.c-fs-1 {
  font-size: var(--c-fs-1) !important; // 32px
}
.c-fs-2 {
  font-size: var(--c-fs-2) !important; // 28px
}
.c-fs-3 {
  font-size: var(--c-fs-3) !important; // 24px
}
.c-fs-4 {
  font-size: var(--c-fs-4) !important; // 20px
}
.c-fs-5 {
  font-size: var(--c-fs-5) !important; // 16px
}
.c-fs-6 {
  font-size: var(--c-fs-6) !important; // 14px
}
.c-fs-7 {
  font-size: var(--c-fs-7) !important; // 12px
}

//font weight

.c-fw-400 {
  font-weight: var(--c-fw-400) !important;
}
.c-fw-600 {
  font-weight: var(--c-fw-600) !important;
}

//font color

.col-primary {
  color: var(--col-primary) !important;
}
.col-dark {
  color: var(--col-dark) !important;
}
.col-grey {
  color: var(--col-grey) !important;
}
.col-dark-light {
  color: var(--col-dark-light) !important;
}
.col-light {
  color: var(--col-light) !important;
}
.col-white {
  color: var(--col-white) !important;
}
.col-blue {
  color: var(--col-blue) !important;
}
.col-success {
  color: var(--col-success) !important;
}
.col-danger {
  color: var(--col-danger) !important;
}
.col-grey-deep {
  color: var(--col-grey-deep) !important;
}
.col-light-gray {
  color: var(--col-light-gray) !important;
}
.col-light-green {
  color: var(--col-light-green) !important;
}
.col-baby-pink {
  color: var(--col-baby-pink) !important;
}


.outfit-font{
    font-family: 'Outfit', sans-serif;
}

.cactus-font{
    font-family: 'Cactus Classical Serif', serif;
}

.garamond-font{
    font-family: 'EB Garamond', serif;
}