:root {
  --heading: 48px;
  --sub-heading: 32px;
  --small-heading: 20px;
  --c-fs-1: 32px;
  --c-fs-2: 28px;
  --c-fs-3: 24px;
  --c-fs-4: 20px;
  --c-fs-5: 16px;
  --c-fs-6: 14px;
  --c-fs-7: 12px;
  //Font Weight
  --c-fw-400: 400;
  --c-fw-600: 600;
  //Content Width
  --w-max-content: 900px;
  --nav-height: 54px;
}

@media (max-width: 992px) {
  :root {
    --heading: 32px;
    --sub-heading: 24px;
    --small-heading: 20px;
    --c-fs-1: 24px;
    --c-fs-2: 22px;
    --c-fs-3: 18px;
    --c-fs-4: 16px;
    --c-fs-5: 14px;
    --c-fs-6: 12px;
    --c-fs-7: 10px;
  }
}
