:root {
  --heading: 48px;
  --sub-heading: 32px;
  --small-heading: 20px;

  --c-fs-1: 32px;
  --c-fs-2: 28px;
  --c-fs-3: 24px;
  --c-fs-4: 20px;
  --c-fs-5: 16px;
  --c-fs-6: 14px;
  --c-fs-7: 12px;

  --c-fw-400: 400;
  --c-fw-600: 600;

  --col-primary: #1b1f6d;
  --col-dark: #1c1c1c;
  --col-grey: #343a40;
  --col-grey-faded: #767676;
  --dark-grey: #656565;
  --col-dark-light: #707070;
  --col-light: #f8f9fa;
  --col-white: #ffffff;
  --col-blue: #4b55c2;
  --col-success: #28a745;
  --col-danger: #dc3545;
  --col-grey-deep: #6c757d;
  --col-light-gray: #e7e8ea;
  --col-light-green: #e6fff5;
  --col-baby-pink: #ffe5e8;
  --col-light-blue: #b9d1fd;
  --col-soft-blue: #d2d8ff;
  --col-faded-blue: #e9ecff;
  --col-light-golden: #f9dcae;
  --col-extra-light-blue: #f5f6ff;

  //Content Width
  --w-max-content: 900px;
  --nav-height: 54px;
}

@media (max-width: 992px) {
  :root {
    --heading: 32px;
    --sub-heading: 24px;
    --small-heading: 20px;
    --c-fs-1: 24px;
    --c-fs-2: 22px;
    --c-fs-3: 18px;
    --c-fs-4: 16px;
    --c-fs-5: 14px;
    --c-fs-6: 12px;
    --c-fs-7: 10px;
  }
}

// font sizes

@property --font-heading {
  syntax: "<length>";
  initial-value: 48px;
  inherits: true;
}

@property --font-sub-heading {
  syntax: "<length>";
  initial-value: 36px;
  inherits: true;
}

@property --font-xs {
  syntax: "<length>";
  initial-value: 12px;
  inherits: true;
}

@property --font-sm {
  syntax: "<length>";
  initial-value: 14px;
  inherits: true;
}

@property --font-rg {
  syntax: "<length>";
  initial-value: 16px;
  inherits: true;
}

@property --font-md {
  syntax: "<length>";
  initial-value: 20px;
  inherits: true;
}

@property --font-lg {
  syntax: "<length>";
  initial-value: 24px;
  inherits: true;
}

@property --font-xl {
  syntax: "<length>";
  initial-value: 32px;
  inherits: true;
}

@property --font-xxl {
  syntax: "<length>";
  initial-value: 36px;
  inherits: true;
}

:root {
  --font-heading: 48px;
  --font-sub-heading: 36px;
  --font-xs: 12px;
  --font-sm: 14px;
  --font-rg: 16px;
  --font-md: 20px;
  --font-lg: 24px;
  --font-xl: 32px;
  --font-xxl: 36px;
  @media (max-width: 768px) {
    --font-heading: 36px;
    --font-sub-heading: 28px;
    --font-md: 18px;
    --font-lg: 20px;
    --font-xl: 24px;
    --font-xxl: 28px;
  }
}
