@import 'import';
body{
    background: rgb(102, 102, 102);
    font-family: 'Manrope', sans-serif!important;
}
*{
    box-sizing: border-box;
}

.border-horizontal{
    border-bottom: 1px solid currentColor;
}
.border-vertical{
    border-left: 1px solid currentColor;

}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    width: 8px;
    border-radius: 2px;
    background-color: var(--col-primary);
}
::-webkit-scrollbar-track{
    background: rgba(0,0,0,0.1);
    width: 8px;   
}
@media (max-width: 991px) {
    ::-webkit-scrollbar{
        display: none;  
    }
}