@import 'import';
*{
    scroll-behavior: smooth;
}
body{
    background: rgb(102, 102, 102);
    font-family: 'Manrope', sans-serif!important;
}

.border-horizontal{
    border-bottom: 1px solid currentColor;
}
.border-vertical{
    border-left: 1px solid currentColor;

}

// For Ul list with right tick in each li (list element)
ul{
    &.custom-ul-with-right-tick{
        padding: 0;
        li{
            padding-left: 50px;
            background: url(/img/right-tick-icon.svg);
            background-repeat: no-repeat;
            background-position: left top 8px;
            background-size: 25px;
            margin-bottom: 1.5rem;
            min-height: 32px;
        }
    }
}

a{
    &.read-more-text{
        text-decoration: underline !important;
    }
}
.cursor-pointer{
    cursor: pointer !important;
}
// Country Dropdown
.country_dropdown {
    &__menu {
      li {
        a {
          color: var(--col-dark);
          transition: all 200ms;
          &:hover, &.active {
            background-color: var(--col-blue);
            color: var(--col-white);
          }
        }
      }
    }
  }